#introduction .modal-body h3 {
  font-weight:400;
}

#introduction .modal-body h4 {
  font-weight:300;
  font-size:15px;
}

.modal-body {
  padding: 15px 55px;
}

#introduction .modal-body p {
  font-weight:300;
  font-size:13px;
}