{% load cropping %}
{% load widget_tweaks %}

<div class='filter-container'>	
    <label for="type"><b>Type:</b></label>
    <select id="type" name="type">
        {%  if toolbar.searchType == 'All' %}
            <option value="All" selected>All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Images' %}
            <option value="All">All</option>
            <option value="Images" selected>Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Audio' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio" selected>Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Notes' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes" selected>Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Interviews' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes" >Notes</option>
            <option value="Interviews" selected>Interviews</option>
        {% else %}
            <option value="All" selected>All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% endif %}
    </select>
</div>
<div class='filter-container'>
    <label for="class"><b>Class:</b></label>
    <select id="class" name="class">
        {%  if toolbar.searchClass == 'All' %}
            <option value="All" selected>All</option>
        {% else %}
            <option value="All">All</option>
        {% endif %}
        {% for class in classes %}
            {% if toolbar.searchClass == class.teacherId|stringformat:"s_"|add:class.section %}
                <option value="{{ class.teacherId }}_{{ class.section }}" selected>{{ class.teacherName }} - Section {{ class.section }}</option>
            {% else %}
                <option value="{{ class.teacherId }}_{{ class.section }}">{{ class.teacherName }} - Section {{ class.section }} </option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class='filter-container'>
    <label for="team"><b>Team:</b></label>
    <select id="team" name="team">
        {%  if toolbar.searchTeam == 'All' %}
            <option value="All" selected>All</option>
        {% else %}
            <option value="All">All</option>
        {% endif %}
        {% for team in teams %}
            {% if toolbar.searchTeam == team %}
                <option value="{{ team }}" selected>{{ team|title }}</option>
            {% else %}
                <option value="{{ team }}">{{ team|title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class='filter-container pull-right'>
	<form class="form-inline">
	  <div class="form-group has-feedback">
		  {{ form.tags|attr:"id:tags" }}
	    <span class="glyphicon glyphicon-search form-control-feedback"></span>
	  </div>
	</form>
</div>


{% if mediaResults %}
<table class="table">
	<thead>
		<th>Section</th>
		<th>Team Color</th>
		<th>Media</th>
		<th>Privacy/Visibility</th>
		<th>Name</th>
		<th>Date Added</th>
		<th>Options</th>
	</thead>
	<tbody>
		{% for mediaResult in mediaResults %}
			{% if mediaResult.image and mediaResult.audio %}
				<tr>
					<td>{{ mediaResult.getUserProfile.section }}</td>
					<td><div class="interview_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<div style="height: 241px; width: 280px; margin-bottom: 5px; overflow: hidden;">
					            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
					            </div>
							</a>
						{% else %}
							<a href="/cashcity/media/form/edit/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<div style="height: 241px; width: 280px; margin-bottom: 5px; overflow: hidden;">
					            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
					            </div>
							</a>
						{% endif %}
				            <div style="margin: auto;">
								{% if ".amr" in mediaResult.audio.path or ".mov" in mediaResult.audio.path or ".MOV" in mediaResult.audio.path or ".gp3" in mediaResult.audio.path or ".mp4" in mediaResult.audio.path %}
					            	<audio src="/media/CashCity/{{ mediaResult.audio }}.mp3" preload="auto" controls></audio>
								{% else %}
					            	<audio src="/media/CashCity/{{ mediaResult.audio }}" preload="auto" controls></audio>
								{% endif %}
				            </div>
					</td>
					<td>
						{% if mediaResult.shared %}
							All My Teams <input type="checkbox" class="interviewShare" value="{{ mediaResult.id }}" checked>
						{% else %}
							All My Teams <input type="checkbox" class="interviewShare" value="{{ mediaResult.id }}" >
						{% endif %}						
					</td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-primary">Published</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>
						{% else %}
							<a href="/cashcity/media/form/edit/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-default">Draft</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>
						{% endif %}
					</td>
					<td>{{ mediaResult.last_modified|date:"F j, Y" }}</td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/interview/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/interview/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/interview/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/interview/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% elif mediaResult.image %}
				<tr>
					<td>{{ mediaResult.getUserProfile.section }}</td>
					<td><div class="image_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<div style="height: 280px; width: 280px; margin-bottom: 5px; overflow: hidden;">
					            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
					            </div>
							</a>
						{% else %}
							<a href="/cashcity/media/form/edit/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<div style="height: 280px; width: 280px; margin-bottom: 5px; overflow: hidden;">
					            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
					            </div>
							</a>
						{% endif %}
					</td>
					<td>
						{% if mediaResult.shared %}
							All My Teams <input type="checkbox" class="imageShare" value="{{ mediaResult.id }}" checked>
						{% else %}
							All My Teams <input type="checkbox" class="imageShare" value="{{ mediaResult.id }}" >
						{% endif %}						
					</td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-primary">Published</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>					
						{% else %}
							<a href="/cashcity/media/form/edit/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-default">Draft</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>					
						{% endif %}
					</td>
					<td>{{ mediaResult.last_modified|date:"F j, Y" }}</td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/image/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/image/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/image/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/image/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% elif mediaResult.audio %}
				<tr>
					<td>{{ mediaResult.getUserProfile.section }}</td>
					<td><div class="audio_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></td>
					<td>
				            <div style="margin: auto;">
								{% if ".amr" in mediaResult.audio.path or ".mov" in mediaResult.audio.path or ".MOV" in mediaResult.audio.path or ".gp3" in mediaResult.audio.path or ".mp4" in mediaResult.audio.path %}
					            	<audio src="/media/CashCity/{{ mediaResult.audio }}.mp3" preload="auto" controls></audio>
								{% else %}
					            	<audio src="/media/CashCity/{{ mediaResult.audio }}" preload="auto" controls></audio>
								{% endif %}
				            </div>
					</td>
					<td>
						{% if mediaResult.shared %}
							All My Teams <input type="checkbox" class="audioShare" value="{{ mediaResult.id }}" checked>
						{% else %}
							All My Teams <input type="checkbox" class="audioShare" value="{{ mediaResult.id }}" >
						{% endif %}						
					</td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-primary">Published</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>
						{% else %}
							<a href="/cashcity/media/form/edit/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-default">Draft</span></p>
								<p>{{ mediaResult.caption }}</p>
							</a>
						{% endif %}
					</td>
					<td>{{ mediaResult.last_modified|date:"F j, Y" }}</td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/audio/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/audio/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/audio/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/audio/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ mediaResult.getUserProfile.section }}</td>
					<td><div class="note_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></td>
					<td></td>
					<td>
						{% if mediaResult.shared %}
							All My Teams <input type="checkbox" class="noteShare" value="{{ mediaResult.id }}" checked>
						{% else %}
							All My Teams <input type="checkbox" class="noteShare" value="{{ mediaResult.id }}" >
						{% endif %}							
					</td>
					<td>
						{% if mediaResult.published %}
							<a href="/cashcity/media/note/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-primary">Published</span></p>
								<p>{{ mediaResult.notes }}</p>
							</a>
						{% else %}
							<a href="/cashcity/media/form/edit/note/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
								<p><strong>{{ mediaResult.title }} </strong><span class="label label-default">Draft</span></p>
								<p>{{ mediaResult.notes }}</p>
							</a>
						{% endif %}
					</td>
					<td>{{ mediaResult.last_modified|date:"F j, Y" }}</td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/note/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/note/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/note/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/note/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}				
	</tbody>
</table>
{% else %}
<h4>No media. <a href="{% url 'mediaFormImage' %}">Add some!</a></h4>
{% endif %}
