{% load cropping %}
{% load widget_tweaks %}

{% if success %}
<div class="alert alert-success fade in" role="alert">
	<strong> Saved!</strong>
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
{% endif %}

<div class='filter-container'>	
    <label for="type"><b>Type:</b></label>
    <select id="type" name="type">
        {%  if toolbar.searchType == 'All' %}
            <option value="All" selected>All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Images' %}
            <option value="All">All</option>
            <option value="Images" selected>Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Audio' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio" selected>Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Notes' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes" selected>Notes</option>
            <option value="Interviews">Interviews</option>
        {% elif toolbar.searchType == 'Interviews' %}
            <option value="All">All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes" >Notes</option>
            <option value="Interviews" selected>Interviews</option>
        {% else %}
            <option value="All" selected>All</option>
            <option value="Images">Images</option>
            <option value="Audio">Audio</option>
            <option value="Notes">Notes</option>
            <option value="Interviews">Interviews</option>
        {% endif %}
    </select>
</div>
<div class='filter-container pull-right'>
	<form class="form-inline">
	  <div class="form-group has-feedback">
		  {{ form.tags|attr:"id:tags" }}
	    <span class="glyphicon glyphicon-search form-control-feedback"></span>
	  </div>
	</form>
</div>

{% if mediaResults %}
<table class="table">
	<tbody>
		{% for mediaResult in mediaResults %}
			{% if mediaResult.image and mediaResult.audio %}
				<tr>
					<td><a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.getUserProfile.section }}</a></td>
					<td><a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit"><div class="interview_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></a></td>
					<td>
						<a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<div style="height: 241px; width: 280px; margin-bottom: 5px; overflow: hidden;">
				            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
				            </div>
						</a>
				            <div style="margin: auto;">
				            	<audio src="/media/CashCity/{{ mediaResult.audio }}" preload="auto" controls></audio>
				            </div>
					</td>
					<td>
						<a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<p><strong>{{ mediaResult.title }} </strong>
							{% if mediaResult.published %}
								<span class="label label-primary">Published</span>
							{% else %}
								<span class="label label-default">Draft</span>
							{% endif %}
							</p>
							<p>{{ mediaResult.caption }}</p>
						</a>
					</td>
					<td><a href="/cashcity/media/interview/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.last_modified|date:"F j, Y" }}</a></td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/interview/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/interview/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/interview/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/interview/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% elif mediaResult.image %}
				<tr>
					<td><a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.getUserProfile.section }}</a></td>
					<td><a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit"><div class="image_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></a></td>
					<td>
						<a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<div style="height: 280px; width: 280px; margin-bottom: 5px; overflow: hidden;">
				            	<img src="{% cropped_thumbnail mediaResult 'cropped_image' %}">
				            </div>
						</a>
					</td>
					<td>
						<a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<p><strong>{{ mediaResult.title }} </strong>
							{% if mediaResult.published %}
								<span class="label label-primary">Published</span>
							{% else %}
								<span class="label label-default">Draft</span>
							{% endif %}
							</p>
							<p>{{ mediaResult.caption }}</p>
						</a>					
					</td>
					<td><a href="/cashcity/media/image/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.last_modified|date:"F j, Y" }}</a></td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/image/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/image/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/image/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/image/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% elif mediaResult.audio %}
				<tr>
					<td><a href="/cashcity/media/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.getUserProfile.section }}</a></td>
					<td><a href="/cashcity/media/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit"><div class="audio_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></a></td>
					<td>
			            <div style="margin: auto;">
			            	<audio src="/media/CashCity/{{ mediaResult.audio }}" preload="auto" controls></audio>
			            </div>
					</td>
					<td>
						<a href="/cashcity/media/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<p><strong>{{ mediaResult.title }} </strong>
							{% if mediaResult.published %}
								<span class="label label-primary">Published</span>
							{% else %}
								<span class="label label-default">Draft</span>
							{% endif %}
							</p>
							<p>{{ mediaResult.caption }}</p>
						</a>
					</td>
					<td><a href="/cashcity/media/audio/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.last_modified|date:"F j, Y" }}</a></td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/audio/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/audio/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/audio/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/audio/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ mediaResult.getUserProfile.section }}</td>
					<td><a href="/cashcity/media/note/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit"><div class="note_{{ mediaResult.getUserProfile.color }} pull-left margin-right"></div></a></td>
					<td></td>
					<td>
						<a href="/cashcity/media/note/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">
							<p><strong>{{ mediaResult.title }} </strong>
							{% if mediaResult.published %}
								<span class="label label-primary">Published</span>
							{% else %}
								<span class="label label-default">Draft</span>
							{% endif %}
							</p>
							<p>{{ mediaResult.notes }}</p>
						</a>
					</td>
					<td><a href="/cashcity/media/note/{{ mediaResult.id }}/" style="text-decoration:none; color:inherit">{{ mediaResult.last_modified|date:"F j, Y" }}</a></td>
					<td width='100'>
						{% if mediaResult.published %}
							<a href="/cashcity/media/saveDraft/note/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-floppy-save noDecoration" title="Move to Draft"></span></a>
						{% else %}
							<a href="/cashcity/media/publish/note/{{ mediaResult.id }}/"><span class="glyphicon glyphicon-book noDecoration" title="Publish"></span></a>
						{% endif %}
						<a href="/cashcity/media/form/edit/note/{{ mediaResult.id }}/"><div class="edit-button" title="Edit"></div></a>
						<a href="/cashcity/media/form/remove/note/{{ mediaResult.id }}/"><div class="trash-button" title="Remove"></div></a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}					
	</tbody>
</table>
{% else %}
<h4>No media. <a href="{% url 'mediaFormImage' %}">Add some!</a></h4>
{% endif %}
