{% extends "CashCity/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block body_block %}
<div class="container loginFormcontainer">
	<div class="jumbotron">
		<h3>Login</h3>
		{% if form.errors %}
		<p class="text-danger">Please enter a correct username and password.</p>
		{% endif %}
		
		<form role="form" method="post" action=".">{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<div class="form-group">
				<label for="id_login">Username</label>{% if form.username.errors %} <span class ="text-danger">{{ form.username.errors|join:", " }}</span>{% endif %}
				{{ form.username|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<label for="id_password">Password&#160;&#160;&#160;<a href="{% url 'auth_password_reset' %}">Forgot Password?</a></label>{% if form.password.errors %} <span class="text-danger">{{ form.password.errors|join:", " }}</span>{% endif %}
				{{ form.password|add_class:"form-control" }}

			</div>
			<button type="submit" class="btn btn-default pull-left"><span class="glyphicon glyphicon-log-in"></span> Login</button>
		</form>
		<p class="text-right"><a href="{% url 'registration_register' %}"> Sign up <span class="glyphicon glyphicon-arrow-right"></span></a></p>
	</div>
</div>
{% endblock %}
