{% extends "CashCity/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body_block %}
<div class="container loginFormcontainer">
	<div class="jumbotron">
		<div class="row">		
			{% if validlink %}
			<h3>Password Reset</h3>
			<p>{% trans "Please enter your new password and confirm. Thank you!" %}</p>
			<span class ="text-danger">{{ form.non_field_errors }}</span>	
			<form role="form" method="post" action=".">{% csrf_token %}
				<div class="form-group">
					<label for="password1">Password</label>{% if form.new_password1.errors %} <span class ="text-danger">{{ form.new_password1.errors|join:", " }}</span>{% endif %}
					{{ form.new_password1|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="password2">Re-Enter Password</label>{% if form.new_password2.errors %} <span class ="text-danger">{{ form.new_password2.errors|join:", " }}</span>{% endif %}
					{{ form.new_password2|add_class:"form-control" }}
				</div>		
				<button type="submit" class="btn btn-default pull-left">Reset Password</button>			
			</form>
			
			{% else %}
			<p>{% trans "Password reset failed" %}</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
