{% extends "CashCity/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block body_block %}
<div class="container loginFormcontainer">
	<div class="jumbotron">
		<div class="row">
			<h3>Password Change</h3>
			<span class ="text-danger">{{ form.non_field_errors }}</span>	
			<form role="form" method="post" action=".">{% csrf_token %}
				<div class="form-group">
					<label for="password1">Old Password</label>{% if form.old_password.errors %} <span class ="text-danger">{{ form.old_password.errors|join:", " }}</span>{% endif %}
					{{ form.old_password|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="password1">New Password</label>{% if form.new_password1.errors %} <span class ="text-danger">{{ form.new_password1.errors|join:", " }}</span>{% endif %}
					{{ form.new_password1|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="password2">Re-Enter New Password</label>{% if form.new_password2.errors %} <span class ="text-danger">{{ form.new_password2.errors|join:", " }}</span>{% endif %}
					{{ form.new_password2|add_class:"form-control" }}
				</div>
				<button type="submit" class="btn btn-default pull-left">Change Password</button>			
			</form>	
		</div>	
	</div>
</div>
{% endblock %}
