{% extends 'CashCity/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/bootstrap-select.min.css' %}">
	<!-- style embedded in django template for static file usage -->
	
{% endblock %}	

{% block body_block %}
<div class="full-container">
	<h3 class="account-header">Teacher Account</h3>
	<div class="account-menu">
		<div class="container-fluid media_search_header" style="background-color:rgba(255, 255, 255, 0);">
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountProfile' %}"><button type="button" class="btn btn-default btn-block active">Account</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'teams' %}"><button href="{% url 'teams' %}" type="button" class="btn btn-default btn-block">Teams</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountMedia' %}"><button type="button" class="btn btn-default btn-block">Media</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountOpinion' %}"><button type="button" class="btn btn-default btn-block">Opinions</button></a>
			</div>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-xs-6">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
				  <a href="{% url 'accountProfile' %}"><button type="button" class="btn btn-default active">Account</button></a>
				</div>
				<div class="btn-group">
					<a href="{% url 'teams' %}"><button type="button" class="btn btn-default">Teams</button></a>
				</div>
				<div class="btn-group">	
			  	  <a href="{% url 'accountMedia' %}"><button type="button" class="btn btn-default">Media</button></a>
  				</div>
  				<div class="btn-group">		  
			 	   <a href="{% url 'accountOpinion' %}"><button type="button" class="btn btn-default">Opinions</button></a>
   				</div>				   
			</div>
		</div>
	</div> -->
	<!-- <br /> -->
	<div class="row">
		{% if success %}
		<div class="alert alert-success fade in" role="alert">
			<strong>Teacher Account Saved!</strong>
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
		{% endif %}
		<form role="form" method="post" action=".">{% csrf_token %}
			<div class="col-xs-4">				
				<div class="form-group">
					<label for="username">Username</label>
					<br />
					{{ user.username }}
				</div>
				<div class="form-group">
					<label for="password1">Password</label>
					<br />
					<a href="{% url 'auth_password_change' %}">Change Your Password</a>
				</div>
				<div class="form-group">
					<label for="name">Name</label>{% if profile_form.teacherName.errors %} <span class ="text-danger">{{ profile_form.teacherName.errors|join:", " }}</span>{% endif %}
					{{ profile_form.teacherName|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="email">Email</label>{% if user_form.email.errors %} <span class ="text-danger">{{ user_form.email.errors|join:", " }}</span>{% endif %}
					{{ user_form.email|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="city">City</label>{% if profile_form.city.errors %} <span class ="text-danger">{{ profile_form.city.errors|join:", " }}</span>{% endif %}
					{{ profile_form.city|add_class:"form-control" }}
				</div>
				<div class="form-group">
					<label for="school">School</label>{% if profile_form.school.errors %} <span class ="text-danger">{{ profile_form.school.errors|join:", " }}</span>{% endif %}
					{{ profile_form.school|add_class:"form-control" }}
				</div>
				<button type="submit" class="btn btn-default pull-left">Update</button>
			</div>
		</form>
	</div>
</div>	
{% endblock %}


{% block js_block %}
	<script type="text/javascript" src="{% static 'CashCity/js/bootstrap-select.min.js' %}"></script>
{% endblock %}
