{% extends 'CashCity/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/bootstrap-select.min.css' %}">
	<!-- style embedded in django template for static file usage -->
	<style type="text/css">		
	
		a > .edit-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/edit_gray.png' %})
		}
		
		a > .trash-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/trash.png' %})
		}
		
	</style>
	
{% endblock %}	

{% block body_block %}
<div class="full-container">
	<h3 class="account-header">Teacher Account</h3>
	<div class="account-menu">
		
		<div class="container-fluid media_search_header" style="background-color:rgba(255, 255, 255, 0);">
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountProfile' %}"><button type="button" class="btn btn-default btn-block">Account</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'teams' %}"><button href="{% url 'teams' %}" type="button" class="btn btn-default btn-block active">Teams</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountMedia' %}"><button type="button" class="btn btn-default btn-block">Media</button></a>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 profile-menu-buttons'>
				<a href="{% url 'accountOpinion' %}"><button type="button" class="btn btn-default btn-block">Opinions</button></a>
			</div>
		</div>
	</div>


<!-- 	<h3>Teacher Account</h3>
	<div class="row">
		<div class="col-xs-6">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
				  <a href="{% url 'accountProfile' %}"><button type="button" class="btn btn-default">Account</button></a>
				</div>
				<div class="btn-group">
					<a href="{% url 'teams' %}"><button type="button" class="btn btn-default active">Teams</button></a>
				</div>
				<div class="btn-group">	
			  	  <a href="{% url 'accountMedia' %}"><button type="button" class="btn btn-default">Media</button></a>
  				</div>
  				<div class="btn-group">		  
			 	   <a href="{% url 'accountOpinion' %}"><button type="button" class="btn btn-default">Opinions</button></a>
   				</div>				   
			</div>
		</div>
		<div class="col-xs-6">
			<a href="{% url 'createTeam' %}"><button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Team</button></a>
		</div>
	</div> -->
	<br />
	<div class="row">
		<div class="col-xs-12 padding10bottom">
			<small><em>This section allows you to create teams that you can then organize students by. Fill in the following information and pass along the username and passwords to the students you want to be in that team.</em></small>
		</div>
	</div>
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 profile-menu-buttons">
				<a href="{% url 'createTeam' %}"><button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus" style="padding-right:5px;"></span>Add Team</button></a>
			</div>
	<div class="row row-no-margin">
		<div class="col-xs-12" style="background-color:white;">
			{% if success %}
			<div class="alert alert-success fade in" role="alert">
				<strong>Team Saved!</strong>
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			{% endif %}
			{% if teams %}
			<table class="table">
				<thead>
					<tr>
						<th>Section</th>
						<th>Team Color</th>
						<th>Username</th>
						<th>Password</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for team in teams %}
					<tr>
						<td>{{ team.section }}</td>
						<td><span class="glyphicon glyphicon-certificate {{ team.color }}-icon"></span></td>
						<td>{{ team.user }}</td>
						<td>********</td>
						<td><a href="/cashcity/accounts/edit/team/{{ team.id }}/"><div class="edit-button"></div></a><a href="/cashcity/accounts/remove/team/{{ team.id }}/"><div class="trash-button"></div></a></td>
					</tr>
				{% endfor %}					
				</tbody>
			</table>
			{% else %}
			<h4><a href="{% url 'createTeam' %}">Add some teams!</a></h4>
			{% endif %}
		</div>
	</div>
</div>	
{% endblock %}


{% block js_block %}
	<script type="text/javascript" src="{% static 'CashCity/js/bootstrap-select.min.js' %}"></script>
{% endblock %}
