{% extends "follow_the_money/base.html" %}
{% load widget_tweaks %}
 {% load i18n %}
 {% load account %}
 {% load url from future %}

{% block body_block %}
<div class="container loginFormcontainer">
	<div class="jumbotron">
		<h3>Login</h3>

		{% if form.errors %}
		<p class="error">Please enter a correct username and password.</p>
		{% endif %}

		<form role="form" method="post" action="{% url 'account_login' %}">{% csrf_token %}
			<div class="form-group">
				<label for="id_login">Username</label>{% if form.login.errors %} <span class    ="error">{{ form.login.errors|join:", " }}</span>{% endif %}
	{{ form.login|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<label for="id_password">Password&#160;&#160;&#160;<a href="/accounts/password/reset">Forgot Password?</a></label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
				{{ form.password|add_class:"form-control" }}

			</div>
			<button type="submit" class="btn btn-default pull-left">Login</button>
		</form>
		<p class="text-right"><a href={{ signup_url }}> Sign up <span class="glyphicon glyphicon-arrow-right"></span></a></p>
	</div>
</div>
{% endblock %}
