{% extends 'follow_the_money/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'follow_the_money/css/bootstrap.min.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'follow_the_money/css/mapbox.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'follow_the_money/css/main.css' %}">
	<!-- style embedded in django template for static file usage -->
	<style type="text/css">
		.navbar-default .navbar-nav > .media-button > a {
			top: 10px;
			width: 79px;
			height: 36px;
			background-image: url({% static 'follow_the_money/img/Media.png' %})
		}

		.navbar-default .navbar-nav > .media-button > a:hover,
		.navbar-default .navbar-nav > .media-button > a:focus {
			background-image: url({% static 'follow_the_money/img/Media_hover.png' %})
		}
		
		.navbar-default .navbar-nav > .screenshot-button > a {
			top: 10px;
			width: 39px;
			height: 36px;
			background-image: url({% static 'follow_the_money/img/Snaps.png' %})
		}

		.navbar-default .navbar-nav > .screenshot-button > a:hover,
		.navbar-default .navbar-nav > .screenshot-button > a:focus {
			background-image: url({% static 'follow_the_money/img/Snaps_hover.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .edit-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'follow_the_money/img/edit_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .edit-button,
		.nav-tabs.nav-mapui > .active > a:hover > .edit-button,
		.nav-tabs.nav-mapui > .active > a:focus > .edit-button, 
		.nav-tabs.nav-mapui > li > a:hover > .edit-button,
		.nav-tabs.nav-mapui > li > a:focus > .edit-button {
			background-image: url({% static 'follow_the_money/img/edit_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .image-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'follow_the_money/img/image_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .image-button,
		.nav-tabs.nav-mapui > .active > a:hover > .image-button,
		.nav-tabs.nav-mapui > .active > a:focus > .image-button, 
		.nav-tabs.nav-mapui > li > a:hover > .image-button,
		.nav-tabs.nav-mapui > li > a:focus > .image-button {
			background-image: url({% static 'follow_the_money/img/image_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .location-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'follow_the_money/img/locations_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .location-button,
		.nav-tabs.nav-mapui > .active > a:hover > .location-button,
		.nav-tabs.nav-mapui > .active > a:focus > .location-button, 
		.nav-tabs.nav-mapui > li > a:hover > .location-button,
		.nav-tabs.nav-mapui > li > a:focus > .location-button {
			background-image: url({% static 'follow_the_money/img/locations_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .map-button {
			display: inline-block;
			margin-right: 3px;
			width: 22px;
			height: 17px;
			background-image: url({% static 'follow_the_money/img/map_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .map-button,
		.nav-tabs.nav-mapui > .active > a:hover > .map-button,
		.nav-tabs.nav-mapui > .active > a:focus > .map-button, 
		.nav-tabs.nav-mapui > li > a:hover > .map-button,
		.nav-tabs.nav-mapui > li > a:focus > .map-button {
			background-image: url({% static 'follow_the_money/img/map_gray.png' %})
		}
		
		/*
		* Icon classes
		*/
		
		.pawnshop-icon {
			background-image: url({% static 'follow_the_money/img/pawnshop.png' %});
		}

		.checkcashing-icon {
			background-image: url({% static 'follow_the_money/img/checkcashing.png' %});
		}

		.wiretransfer-icon {
			background-image: url({% static 'follow_the_money/img/wiretransfer.png' %});
		}

		.afis-icon {
			background-image: url({% static 'follow_the_money/img/wiretransfer.png' %});
		}

		.banks-icon {
			background-image: url({% static 'follow_the_money/img/bank.png' %});
		}

		.mcdonalds-icon {
			background-image: url({% static 'follow_the_money/img/locations_gray.png' %});
		}
		
		.close-icon-white {
			background-image: url({% static 'follow_the_money/img/close_white.png' %});
		}
		
		.close-icon-gray {
			background-image: url({% static 'follow_the_money/img/close_gray.png' %});
		}
		
		/*
		* zoom icons
		*/
		
		.citydigits-zoomer .zoom-in > a {
			float: left;
			width: 28px;
			height: 32px;
			background-image: url({% static 'follow_the_money/img/Zoom_in.png' %});
		}

		.citydigits-zoomer .zoom-in > a:hover {
			background-image: url({% static 'follow_the_money/img/Zoom_in_hover.png' %});
		}

		.citydigits-zoomer .zoom-out > a {
			float: left;
			margin-left: -30px;
			width: 28px;
			height: 32px;
			background-image: url({% static 'follow_the_money/img/Zoom_out.png' %});
		}

		.citydigits-zoomer .zoom-out > a:hover {
			background-image: url({% static 'follow_the_money/img/Zoom_out_hover.png' %});
		}
		
		/*
		* Leaflet override
		*/		
		
		.leaflet-popup-close-button {
			background-image: url({% static 'follow_the_money/img/close_white.png' %});
			background-size: auto auto;
			background-position: 0% 0%;
			opacity: 1;
			height: 22px;
			width: 22px;
		}


		</style>
{% endblock %}	

{% block body_block %}
    <div class="row">
        <div class="col-xs-6 col-md-4">
           <div id="map-nav" class="map-nav map-ui"></div><!-- map-nav -->		  
        </div>
    </div>
    <div id="citydigits-zoomer" class="citydigits-zoomer hidden">
		<div class="zoom-out">
      	  <a id="zoom-out" href="#"></a>
	  	</div>
		<div class="zoom-in">
      	  <a id="zoom-in" href="#"></a>
	  	</div>
    </div>
	<div id="map"></div>
	
{% endblock %}


{% block js_block %}
	<script type="text/javascript" src="{% static 'follow_the_money/js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/accounting.min.js' %}"></script>
	<!-- set varible for topojson and csv urls -->
	<script type="text/javascript">
	var neighborhoods = "{% static 'follow_the_money/topojson/neighborhoods.json' %}";	
	var CheckCashing = "{% static 'follow_the_money/locationData/CheckCashing.csv' %}";	
	var CommercialBanks = "{% static 'follow_the_money/locationData/CommercialBanks.csv' %}";	
	var Mcdonalds = "{% static 'follow_the_money/locationData/Mcdonalds.csv' %}";	
	var MoneyTransferServices = "{% static 'follow_the_money/locationData/MoneyTransferServices.csv' %}";	
	var PawnShops = "{% static 'follow_the_money/locationData/PawnShops.csv' %}";	
	</script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/CityDigitsMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'follow_the_money/js/application.js' %}"></script>
{% endblock %}