<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="active"><a href="#locations" role="tab" data-toggle="tab"><div class="location-button"></div>LOCATIONS</a></li>
  <li><a href="#maps" role="tab" data-toggle="tab"><div class="map-button"></div>MAPS</a></li>
  <li><a href="#createMap" role="tab" data-toggle="tab"><div class="edit-button"></div>CREATE MAP</a></li>
  <li><a href="#media" role="tab" data-toggle="tab"><div class="image-button"></div>MEDIA</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="locations">
	  <div class="container">
	    <div class="row">
	      <div class="col-xs-4 col-sm-3">
			<div class="checkbox">
			  <label>
			    <input id="pawnshopsCheckbox" type="checkbox" value="LOC1_PAWN_SHOPS" checked>
			   	Pawn Shops
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
				Check Cashing
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
				Wire Transfer
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			    Alternative Financial Services
			  </label>
			</div>
	      </div>
		  <div class="col-xs-4 col-sm-3">
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			   	Banks
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
				McDonald's
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
				Subway Lines
			  </label>
			</div>
		  </div>
	    </div>
	  </div>
  </div>
  <div class="tab-pane fade" id="maps">
  <div class="container">
    <div class="row">
	      <div class="col-xs-4 col-sm-3">
			<div class="radio">
			  <label>
			    <input type="radio" name="maps" id="maps1" value="maps1">
			    % Population in Poverty
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="maps" id="maps2" value="maps2">
			    Median Household Income
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="maps" id="maps3" value="maps3">
			    % Unemployment
			  </label>
			</div>
	      </div>
		  <div class="col-xs-4 col-sm-3">
			<div class="radio">
			  <label>
			    <input type="radio" name="maps" id="maps4" value="maps4">
			    % Population Foreign Born
			  </label>
			</div>
		  </div>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="createMap">Under Construction</div>
  <div class="tab-pane fade" id="media">Under Construction</div>
</div>
