
/*
*  Bootstrap Overrides
*/

body {
    background-color: #B0B6BD;
}

#main-container {
    margin-top: -18px;
    width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #025ff1;
	background-color: #ffffff;
}

.navbar-default .navbar-brand {
	font-size: 24px;
	color: #025ff1;
	float: none;
}

.navbar-default .navbar-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height:100%;
}

.nav-tabs.nav-mapui > li {
	background-color: #025ff1;
}

.nav-tabs.nav-mapui > li > a {
	color: #fff;
	border-radius: 0px;
}

.nav-tabs.nav-mapui > li > a:hover,
.nav-tabs.nav-mapui > li > a:focus {
	background-color: #fff;
	color: #333;
	border-radius: 0px;
}

.nav-tabs.nav-mapui > .active > a,
.nav-tabs.nav-mapui > .active > a:hover,
.nav-tabs.nav-mapui > .active > a:focus {
	color: #333;
}

@media (min-width: 768px) {
  .nav-tabs.nav-mapui > li > a {
  	color: #fff;
  	border-radius: 0px;
  }
  
  .nav-tabs.nav-mapui > .active > a,
  .nav-tabs.nav-mapui > .active > a:hover,
  .nav-tabs.nav-mapui > .active > a:focus {
  	color: #333;
  }
}





/*
* Map styles
*/

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    margin-top: 50px;
}

.map-ui {
    position: absolute;
    left: 15px;
    top: 80px;
    width: 600px;
    margin: 0 0 0 15px;
    padding: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 5px 5px 15px;
}

.citydigits-zoomer {
    position: absolute;
    z-index: 110;
    top: 59px;
    right: 15px;
}

.rollover-tooltip {
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #fff;
    font-size: 13px;
}

.map-popup {
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #fff;
}

.map-popup h4 {
	font-size: 20px;
}

.map-popup p {
	font-size: 14px;
}


/*
* Leaflet overrides
*/

.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
	background: none repeat scroll 0 0 #3f3f3f;
}
	
.leaflet-popup-content {
	background-color:#3f3f3f;
}

.leaflet-popup-tip {
	border-top: 10px solid #3f3f3f;
}

