{% extends "follow_the_money/base.html" %}
{% load widget_tweaks %}

{% block body_block %}

{% if validlink %}

<div class="container loginFormcontainer">
	<div class="jumbotron">
		<h3>Password Reset</h3>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
		<form role="form" method="post" action="">
		{% csrf_token %}
			{{ form.new_password1.errors }}
			<div class="form-group">
				<label for="id_new_password1">New password</label> 
				{{ form.new_password1|add_class:"form-control" }} 
			</div>
			{{ form.new_password2.errors }}
			<div class="form-group">
				<label for="id_new_password2">Confirm password</label> 
				{{ form.new_password2|add_class:"form-control" }} 
			</div>
			<button type="submit" class="btn btn-default pull-left">Update Password</button>
		</form>
	</div>
</div>

{% else %}

<div class="container loginFormcontainer">
	<div class="jumbotron">
		<h3>Password reset unsuccessful</h3>
		<p>The password reset link was invalid, possibly because it has already been used. Please <a href="/accounts/password/reset">request a new password reset.</a></p>

	</div>
</div>

{% endif %}

{% endblock %}
