{% load cropping %}
{% load widget_tweaks %}

	<div class="container-fluid">
		<div class="row">
			<h3 class="text-center"><u>Opinions</u></h3>
			<div class="container-fluid">
				<div class='filter-container'>
			        <label for="class"><b>Class:</b></label>
			        <select id="class" name="class">
			            {%  if toolbar.searchClass == 'All' %}
			                <option value="All" selected>All</option>
			            {% else %}
			                <option value="All">All</option>
			            {% endif %}
			            {% for class in classes %}
			                {% if toolbar.searchClass == class.teacherId|stringformat:"s_"|add:class.section %}
			                    <option value="{{ class.teacherId }}_{{ class.section }}" selected>{{ class.teacherName }} - Section {{ class.section }}</option>
			                {% else %}
			                    <option value="{{ class.teacherId }}_{{ class.section }}">{{ class.teacherName }} - Section {{ class.section }} </option>
			                {% endif %}
			            {% endfor %}
			        </select>
				</div>
				<div class='filter-container'>
			        <label for="team"><b>Team:</b></label>
			        <select id="team" name="team">
			            {%  if toolbar.searchTeam == 'All' %}
			                <option value="All" selected>All</option>
			            {% else %}
			                <option value="All">All</option>
			            {% endif %}
			            {% for team in teams %}
			                {% if toolbar.searchTeam == team %}
			                    <option value="{{ team }}" selected>{{ team|title }}</option>
			                {% else %}
			                    <option value="{{ team }}">{{ team|title }}</option>
			                {% endif %}
			            {% endfor %}
			        </select>
				</div>
			</div>
			<div id="media-content" class="container-fluid">
				{% for opinion in opinions %}
					<div class="col-xs-4 media-stub">
						<a href="/cashcity/opinion/{{ opinion.id }}/" style="text-decoration:none; color:inherit">
						
							<div class="opinion_{{ opinion.getUserProfile.color }} pull-left margin-right"></div>
							{% if opinion.getUserProfile.color == None %}
								<p><strong>Teacher Added</strong><span class="pull-right">{{ opinion.last_modified|date:"F j" }}</span><br />Teacher: {{ opinion.getUserProfile.teacherName }}</p>
							{% else %}
								<p><strong>{{ opinion.getUserProfile.color|title }} Team</strong><span class="pull-right">{{ opinion.last_modified|date:"F j" }}</span><br />{{ opinion.getUserProfile.teacherName }}'s Section {{ opinion.getUserProfile.section }}</p>
							{% endif %}							
				            <div style="height: 280px; width: 280px; margin-right: auto; margin-left: auto; margin-bottom: 5px; overflow: hidden;">
				            	<img src="{% cropped_thumbnail opinion 'cropped_teamImage' %}">
				            </div>
							<h4>{{ opinion.title }}</h4>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
