{% extends 'CashCity/base.html' %}
{% load staticfiles %}
{% load cropping %}
{% load widget_tweaks %}


{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/mapbox.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/Control.Geocoder.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/MarkerCluster.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/MarkerCluster.Default.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/leaflet.label.css' %}">	
	<!-- style embedded in django template for static file usage -->
	<style type="text/css">		
		a > .panel-heading > .panel-title > .edit-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/edit_white.png' %})
		}
		
		a:hover > .panel-heading > .panel-title > .edit-button,
		a:focus > .panel-heading > .panel-title > .edit-button {
			background-image: url({% static 'CashCity/img/edit_gray.png' %})
		}
		
		a > .panel-heading > .panel-title > .image-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_white.png' %})
		}
		
		a:hover > .panel-heading > .panel-title > .image-button,
		a:hover > .panel-heading > .panel-title > .image-button {
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		a > .panel-heading > .panel-title > .location-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/locations_white.png' %})
		}
		
		a:hover > .panel-heading > .panel-title > .location-button,
		a:hover > .panel-heading > .panel-title > .location-button {
			background-image: url({% static 'CashCity/img/locations_gray.png' %})
		}
		
		a > .panel-heading > .panel-title > .map-button {
			display: inline-block;
			margin-right: 3px;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/map_white.png' %})
		}
		
		a:hover > .panel-heading > .panel-title > .map-button,
		a:hover > .panel-heading > .panel-title > .map-button {
			background-image: url({% static 'CashCity/img/map_gray.png' %})
		}
		
		/*
		* Icon classes
		*/
		
		.pawnshop-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/pawnshop.png' %});
		}

		.checkcashing-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/checkcashing.png' %});
		}

		.wiretransfer-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/wiretransfer.png' %});
		}

		.banks-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/bank.png' %});
		}

		.mcdonalds-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/ArchesOrangesm.png' %});
		}
		
		.squaremiles-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/squaremiles.png' %});
		}
		
		.households-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/households.png' %});
		}
		
		.close-icon-white {
			background-image: url({% static 'CashCity/img/close_white.png' %});
		}
		
		.close-icon-gray {
			background-image: url({% static 'CashCity/img/close_gray.png' %});
		}
		
		/*
		* zoom icons
		*/
		
		.citydigits-zoomer .zoom-in > a {
			float: left;
			width: 28px;
			height: 32px;
			background-image: url({% static 'CashCity/img/Zoom_in.png' %});
		}

		.citydigits-zoomer .zoom-in > a:hover {
			background-image: url({% static 'CashCity/img/Zoom_in_hover.png' %});
		}

		.citydigits-zoomer .zoom-out > a {
			float: left;
			margin-left: -30px;
			width: 28px;
			height: 32px;
			background-image: url({% static 'CashCity/img/Zoom_out.png' %});
		}

		.citydigits-zoomer .zoom-out > a:hover {
			background-image: url({% static 'CashCity/img/Zoom_out_hover.png' %});
		}
		
		/*
		* corner icons
		*/

		.citydigits-legend .legendClosed > a {
			float: left;
			width: 39px;
			height: 36px;
			background-image: url({% static 'CashCity/img/legendbutton_white.png' %});
		}

		.citydigits-legend .legendClosed > a:hover {
			background-image: url({% static 'CashCity/img/legendbutton_gray.png' %});
		}

		.citydigits-legend .legendpoverty > a {
			float: left;
			width: 200px;
			height: 188px;
			background-image: url({% static 'CashCity/img/legend_poverty.png' %});
		}

		.citydigits-legend .legendmedhhinc > a {
			float: left;
			width: 200px;
			height: 225px;
			background-image: url({% static 'CashCity/img/legend_medhhincome.png' %});
		}

		.citydigits-legend .legendunemploy > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_unemploy.png' %});
		}

		.citydigits-legend .legendforeignborn > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_foreignborn.png' %});
		}

		.citydigits-legend .legendAFIpersqmi > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_AFIsq.png' %});
		}

		.citydigits-legend .legendbankspersqmi > a {
			float: left;
			width: 200px;
			height: 174px;
			background-image: url({% static 'CashCity/img/legend_banks_sq.png' %});
		}

		.citydigits-legend .legendpawnsqmi > a {
			float: left;
			width: 200px;
			height: 175px;
			background-image: url({% static 'CashCity/img/legend_pawn_sq.png' %});
		}

		.citydigits-legend .legendmcdonaldspersqi > a {
			float: left;
			width: 200px;
			height: 174px;
			background-image: url({% static 'CashCity/img/legend_mcdonalds_sq.png' %});
		}

		.citydigits-legend .legendhouseholdsperAFI > a {
			float: left;
			width: 200px;
			height: 265px;
			background-image: url({% static 'CashCity/img/legend_households_perAFI.png' %});
		}

		.citydigits-legend .legendhouseholdsperbank > a {
			float: left;
			width: 200px;
			height: 249px;
			background-image: url({% static 'CashCity/img/legend_households_perbank.png' %});
		}
		.citydigits-legend .legendhouseholdsperMcD > a {
			float: left;
			width: 200px;
			height: 249px;
			background-image: url({% static 'CashCity/img/legend_households_permcD.png' %});
		}

		.citydigits-legend .legendhouseholdsperpawn > a {
			float: left;
			width: 200px;
			height: 248px;
			background-image: url({% static 'CashCity/img/legend_households_perpawn.png' %});
		}

		.citydigits-legend .legendAFIsperbank > a {
			float: left;
			width: 200px;
			height: 233px;
			background-image: url({% static 'CashCity/img/legend_AFI_perbank.png' %});
		}

		.citydigits-legend .legendbanksperAFIs > a {
			float: left;
			width: 200px;
			height: 235px;
			background-image: url({% static 'CashCity/img/legend_banks_perAFI.png' %});
		}
				
		.citydigits-charts .chart-icon > a {
			float: left;
			width: 39px;
			height: 36px;
			background-image: url({% static 'CashCity/img/chart_whitebutton.png' %});
		}

		.citydigits-charts .chart-icon > a:hover {
			background-image: url({% static 'CashCity/img/chart_graybutton.png' %});
		}		
		
		/*
		* Leaflet override
		*/		
		
		.leaflet-popup-close-button {
			background-image: url({% static 'CashCity/img/close_white.png' %});
			background-size: auto auto;
			background-position: 0% 0%;
			opacity: 1;
			height: 22px;
			width: 22px;
		}
		
		/*
		* Media button image
		*/
		
		.image-button-media {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		/*
		* trash icon for removing map snaps
		*/
		
		.trash-icon {
			cursor: pointer;
			display: inline-block;
			position: absolute;
			z-index: 1000;
		    width: 22px;
		    height: 17px;
			background-image: url({% static 'CashCity/img/trash.png' %})
		}
		
		
		
		</style>
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}
<div id="mapSnaps">
	<div class="mapSnaps-content-container">	
		{% include 'CashCity/mapSnapThumbnails.html' %}
	</div>
	<button id="titleModal" type="button" class="btn btn-default btn-lg map-thumbnail">Click to Take<br />a Map Snap</button>
</div>


<div class="map-container">
    <div class="row">
		<div id="map-nav" class="map-nav map-ui">
		  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		    <div class="panel panel-default">
			  <a id='locations-tab' data-toggle="collapse" data-parent="#accordion" href="#locations" aria-expanded="true" aria-controls="locations">
			      <div class="panel-heading" role="tab" id="headingOne">
			        <h4 class="panel-title">
			            <div class="location-button"></div>LOCATIONS
			        </h4>
			      </div>
		      </a>
		      <div id="locations" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        <div class="panel-body">
		          <div class="container nav-mapui-width">
		            <div class="row">
		              <div class="col-xs-12">
		                <small><em>Toggle different layers to view banks, AFIs, transportation or user-uploaded media.</em></small>
		              </div>
		            </div>
		              <div class="row">
		                <div class="checkbox">
		                  <label>
		                    <input name='locations' type="checkbox" id="All_AFS" value="All_AFS">
		                    <abbr title="Checking this box will turn on Pawn Shops, Check Cashing and Wire Transfer locations, which are Alternative Financial Insitutions.">Alternative Financial Insitutions</abbr>
		                  </label>
		                </div>
		              <div class="indent checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC1" value="LOC1">
		                  <img src="{% static 'CashCity/img/pawn_sm.png' %}" /> Pawn Shops
		                </label>
		              </div>
		              <div class="indent checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC2" value="LOC2">
		                <img src="{% static 'CashCity/img/check_sm.png' %}" /> Check Cashing
		                </label>
		              </div>
		              <div class="indent checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC3" value="LOC3">
		                <img src="{% static 'CashCity/img/wire_sm.png' %}" /> Wire Transfer
		                </label>
		              </div>
		              <div class="checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC4" value="LOC4">
		                  <img src="{% static 'CashCity/img/banks_sm.png' %}" /> Banks
		                </label>
		              </div>
		              <div class="checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC5" value="LOC5">
		                <img src="{% static 'CashCity/img/mcd_sm.png' %}" /> McDonald's
		                </label>
		              </div>
		              <div class="checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="LOC6" value="LOC6">
		                Subway Lines
		                </label>
		              </div>
		              <div class="checkbox">
		                <label>
		                  <input name='media' type="checkbox" id="MEDIA" value="MEDIA">
		                Media 
		                </label>
		              </div>
		              <div class="checkbox">
		                <label>
		                  <input name='locations' type="checkbox" id="NYC_BORO" value="NYC_BORO">
		                NYC Boroughs
		                </label>
		              </div>
		              <form class="form">
		                <div class="form-group has-feedback map-tag-search-box">
		                  {{ form.tags|attr:"id:tags" }}
		                  <span class="glyphicon glyphicon-search form-control-feedback-media"></span>
		                <small>Search for specific media by tag.</small>  
		                </div>
		              </form>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <a id='maps-tab' class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#maps" aria-expanded="false" aria-controls="maps">
			      <div class="panel-heading" role="tab" id="headingTwo">
			        <h4 class="panel-title">
			          <div class="map-button"></div>MAPS
			        </h4>
			      </div>
		      </a>
		      <div id="maps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		        <div class="panel-body">
		          <div class="container nav-mapui-width">
			        <div class="row">
			          <div class="col-xs-12">
			            <small><em>Toggle between the following map layers to explore a variety of base layer information in the area.</em></small>
			          </div>
			        </div>
			        <div class="row">
			            <div class="checkbox">
			              <label>
			                <input type="checkbox" name="maps" id="MAP1" value="MAP1_POP_POVERTY">
			                % Population in Poverty
			              </label>
			            </div>
			            <div class="checkbox">
			              <label>
			                <input type="checkbox" name="maps" id="MAP2" value="MAP2_MED_HH_INCOME">
			                Median Household Income
			              </label>
			            </div>
			            <div class="checkbox">
			              <label>
			                <input type="checkbox" name="maps" id="MAP3" value="MAP3_PCT_UNEMPLOYED">
			                % Unemployment
			              </label>
			            </div>
			            <div class="checkbox">
			              <label>
			                <input type="checkbox" name="maps" id="MAP4" value="MAP4_PCT_FOREIGN_BORN">
			                % Population Foreign Born
			              </label>
			            </div>
			          </div> 
		        	</div>
		      	</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
			  <a id='createMap-tab' class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#createMap" aria-expanded="false" aria-controls="createMap">
			      <div class="panel-heading" role="tab" id="headingThree">
			        <h4 class="panel-title">
			          <div class="edit-button"></div>CREATE MAP
			        </h4>
			      </div>
		      </a>
		      <div id="createMap" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<div class="container nav-mapui-width">
						<div class="row">
							<div class="col-xs-12">
								<small><em>Select between the options below to further explore the relationship between data and geography.</em></small>
							</div>
						</div>
						<br />
						<form class="form-inline" role="form">
							<label class="sr-only" for="var1Select">Select Variable One</label>
								<select id="var1Select" data-width="85%" class="selectpicker show-tick form-control">
									<option value="Variable 1" class="grey">Variable 1</option>
									<option value="Pawn Shops">Pawn Shops</option>
									<option value="Alternative Financial Insitutions">Alternative Financial Insitutions</option>
									<option value="Banks">Banks</option>
									<option value="McDonalds">McDonald's</option>
									<option value="Households">Households</option>
								</select>
							<hr style="border-top: 2px solid #000; width:85%" class="pull-left"/>
							<label class="sr-only" for="var2Select">Select Variable Two</label>
								<select id="var2Select" data-width="85%" class="selectpicker show-tick form-control">
								<option value="Variable 2" class="grey">Variable 2</option>
							</select>
						</form>
					</div>
					<p class="text-center padding10top"><strong>Equals</strong></p>
					<p id="normalizationText" class="lowFontWeight text-center"></p>
				</div>
			  </div>
			</div>
		  </div>
	    </div>
	  </div>
    </div>
    <div id="citydigits-zoomer" class="citydigits-zoomer hidden">
		<div class="zoom-out">
      	  <a id="zoom-out" href="#"></a>
	  	</div>
		<div class="zoom-in">
      	  <a id="zoom-in" href="#"></a>
	  	</div>
    </div>
    <div id="citydigits-charts" class="citydigits-charts hidden">
		<div id="chartid" class="chart-icon">
      	  <a id="chart" href="#"></a>
	  	</div>
    </div>
	<div id="citydigits-legend" class="citydigits-legend hidden">
		<div id= "legendid" class="legendClosed">
      	  <a id="legend" href="#"></a>
	  	</div>
    </div>
	<div id="map"></div>
</div>

{% endblock %}


{% block js_block %}
	<!--  -->
	<script type="text/javascript">
		//add loading class to body
		$("body").addClass("loading");
		// remove when widdow is fully loaded
		window.onload = function() {
		  $("body").removeClass("loading");
		}

	</script>
	<!-- open introductory modal on page load -->
	<script type="text/javascript">
		$( document ).ready(function() {
			if (!$.cookie('noIntro')) {
				$('#introduction').modal('show');
				// close if button clicked
				$('#closeIntroModal').click(function() {
					$('#introduction').modal('hide');
				});
				// set cookie if don't show this message is checked
				$('#toggleIntroCookie').change(function() {
					if($(this).is(":checked")) {
						$.cookie('noIntro', 'noIntro', { expires: 365, path: '/' });
					} else {
						$.removeCookie('noIntro', { path: '/' });
					}
				});
			}
		});
	</script>

	<script type="text/javascript" src="{% static 'CashCity/js/bootstrap-select.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/Control.Geocoder.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet.markercluster.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/accounting.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/L.Path.Drag.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet.label.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/jquery.cookie.js' %}"></script>
	<!-- set varible for topojson and csv urls -->
	<script type="text/javascript">
	var neighborhoods = "{% static 'CashCity/topojson/neighborhoods.json' %}";	
	var nyc_boro = "{% static 'CashCity/topojson/nyc_borough.json' %}";	
	var SubwayLines = "{% static 'CashCity/topojson/mta_subway_only_june2014.geojson' %}";	
	var SubwayStations = "{% static 'CashCity/topojson/subway_stations.geojson' %}";	
	var CheckCashing = "{% static 'CashCity/locationData/CheckCashing.csv' %}";	
	var CommercialBanks = "{% static 'CashCity/locationData/CommercialBanks.csv' %}";	
	var Mcdonalds = "{% static 'CashCity/locationData/Mcdonalds.csv' %}";	
	var MoneyTransferServices = "{% static 'CashCity/locationData/MoneyTransferServices.csv' %}";	
	var PawnShops = "{% static 'CashCity/locationData/PawnShops.csv' %}";
	var closeButtonGray	= "{% static 'CashCity/img/close_gray.png' %}";
	</script>
	<script type="text/javascript">
		<!-- create media geojson -->
		var mediaImageGeojson = {% include 'CashCity/mapFilterMediaImage.html' %};
		var mediaAudioGeojson = {% include 'CashCity/mapFilterMediaAudio.html' %};
		var mediaNoteGeojson = {% include 'CashCity/mapFilterMediaNote.html' %};
		var mediaInterviewGeojson = {% include 'CashCity/mapFilterMediaInterview.html' %};		
	</script>
	<script type="text/javascript" src="{% static 'CashCity/js/CityDigitsMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/CityDigitsMapThumb.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapnav.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapSnap.js' %}"></script>
	{% if mapSnapBookmark %}	
	<!-- load map snap from opinion area -->
	<script type="text/javascript">
		$( window ).load(function() {
			
			// ensure map layers are loaded
			if (layersLoaded == false) {
				MY_MAP.loadLayers();
			}		

			// ensure create map layers are loaded
			if (createMapLoaded == false) {
				MY_MAP.loadCreateMapLayers();
			}		
			
			
			// set map state variables
			var MapLayer{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.MapLayer }}';	
			var LOC1{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.PawnShops }}';
			var LOC2{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.CheckCashing }}';
			var LOC3{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.WireTransfer }}';
			var LOC4{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.Banks }}';
			var LOC5{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.McDonalds }}';
			var LOC6{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.SubwayLines }}';
			var MEDIA{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.MEDIA }}';
			var title{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.title }}';
			var popup2Content{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.popup2Content }}';
			var popup2LatLon{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.popup2LatLon }}';
			var popup3Content{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.popup3Content }}';
			var popup3LatLon{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.popup3LatLon }}';
			var chartOn{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.chartOn }}';

			// set map zoom and center
			MY_MAP.map.setView([{{ mapSnapBookmark.latitude }},{{ mapSnapBookmark.longitude }}],{{ mapSnapBookmark.zoom }});
			
			
			// remove map layers
		    if(mainLayer != null){
				CityDigitsMap.removeLayerFor(mainLayer);
				mainLayer = null;
		    }
			if (LOC1 != null) {
				CityDigitsMap.removeLayerFor(LOC1);							
			}
			if (LOC2 != null) {
				CityDigitsMap.removeLayerFor(LOC2);							
			}
			if (LOC3 != null) {
				CityDigitsMap.removeLayerFor(LOC3);							
			}
			if (LOC4 != null) {
				CityDigitsMap.removeLayerFor(LOC4);							
			}
			if (LOC5 != null) {
				CityDigitsMap.removeLayerFor(LOC5);							
			}
			if (LOC6 != null) {
				CityDigitsMap.removeLayerFor(LOC6);							
			}
			if (MEDIA != null) {
				if (MY_MAP.map.hasLayer(MY_MAP.MEDIA_IMAGES) == true) {
					CityDigitsMap.removeMediaLayers();
				}
			}

			
			// uncheck all layers
			$('#All_AFS').prop('checked', false);
			$('#LOC1').prop('checked', false);
			$('#LOC2').prop('checked', false);
			$('#LOC3').prop('checked', false);
			$('#LOC4').prop('checked', false);
			$('#LOC5').prop('checked', false);
			$('#LOC6').prop('checked', false);
			$('#MEDIA').prop('checked', false);
			$('#MAP1').prop('checked', false);
			$('#MAP2').prop('checked', false);
			$('#MAP3').prop('checked', false);
			$('#MAP4').prop('checked', false);
			$('#var1Select').selectpicker('val', 'Variable 1');
			$("#var2Select").html("<option value='Variable 2' class='grey'>Variable 2</option>");
			$("#var2Select").selectpicker('refresh');
			$("#normalizationText").html('');
			
								
			// load layers
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendpoverty') {
				CityDigitsMap.loadLayerFor('MAP1');
				$('#MAP1').prop('checked', true);
				//$('#legendid').attr('class', mainLayer._leaflet_id);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendmedhhinc') {
				CityDigitsMap.loadLayerFor('MAP2');
				$('#MAP2').prop('checked', true);
			}
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendunemploy') {
				CityDigitsMap.loadLayerFor('MAP3');
				$('#MAP3').prop('checked', true);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendforeignborn') {
				CityDigitsMap.loadLayerFor('MAP4');
				$('#MAP4').prop('checked', true);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendAFIpersqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP1');
				$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Alternative Financial Insitutions per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendbankspersqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP2');
				$('#var1Select').selectpicker('val', 'Banks');
				$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Banks per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendpawnsqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP3');
				$('#var1Select').selectpicker('val', 'Pawn Shops');
				$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Pawn Shops per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendmcdonaldspersqi') {
				CityDigitsMap.loadLayerFor('CREATEMAP4');
				$('#var1Select').selectpicker('val', 'McDonalds');
				$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('McDonald\'s per Square Mile');
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperAFI') {
				CityDigitsMap.loadLayerFor('CREATEMAP5');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#normalizationText").html('Households per Alternative Financial Insitution');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperbank') {
				CityDigitsMap.loadLayerFor('CREATEMAP6');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Banks');
				$("#normalizationText").html('Households per Bank');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperMcD') {
				CityDigitsMap.loadLayerFor('CREATEMAP7');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'McDonalds');
				$("#normalizationText").html('Households per McDonald\'s');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperpawn') {
				CityDigitsMap.loadLayerFor('CREATEMAP8');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Pawn Shops');
				$("#normalizationText").html('Households per Pawn Shop');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendAFIsperbank') {
				CityDigitsMap.loadLayerFor('CREATEMAP9');
				$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Banks');
				$("#normalizationText").html('Alternative Financial Insitutions per Bank');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendbanksperAFIs') {
				CityDigitsMap.loadLayerFor('CREATEMAP10');
				$('#var1Select').selectpicker('val', 'Banks');
				$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#normalizationText").html('Banks per Alternative Financial Insitution');	
			}

			// open the legend
			if (mainLayer) {
				$('#legendid').attr('class', mainLayer._leaflet_id);
			} else {
				$('#legendid').attr('class', 'legendClosed');
			}

			// open chart if chartOn is true
			if (chartOn{{ mapSnapBookmark.id }} == 'True') {
				var layerId = mainLayer._leaflet_id;
				if (!mainChart) {
					// draw chart
					CityDigitsMap.drawChart(layerId);
				}							
			}

			// close all open popups in layers
			if (MY_MAP.map.hasLayer(MY_MAP.popup2)) {
				MY_MAP.map.removeLayer(MY_MAP.popup2);
			}

			if (MY_MAP.map.hasLayer(MY_MAP.popup3)) {
				MY_MAP.map.removeLayer(MY_MAP.popup3);
			}

			// if there's popup content open popup and fill it with that content
			if (popup2Content{{ mapSnapBookmark.id }} != 'None' && popup2LatLon{{ mapSnapBookmark.id }} != 'None') {

				var popup2LatLon = popup2LatLon{{ mapSnapBookmark.id }}.split(',');
				var popup2Lat = parseFloat(popup2LatLon[0]);
				var popup2Lon = parseFloat(popup2LatLon[1]);
				var latlonObject = L.latLng(popup2Lat, popup2Lon);
				var txt = document.createElement("textarea");
				txt.innerHTML = popup2Content{{ mapSnapBookmark.id }};
				s = txt.value;
				MY_MAP.popup2.setLatLng(latlonObject);
				MY_MAP.popup2.setContent(s);
				MY_MAP.map.addLayer(MY_MAP.popup2);
			}

			if (popup3Content{{ mapSnapBookmark.id }} != 'None' && popup3LatLon{{ mapSnapBookmark.id }} != 'None') {

				var popup3LatLon = popup3LatLon{{ mapSnapBookmark.id }}.split(',');
				var popup3Lat = parseFloat(popup3LatLon[0]);
				var popup3Lon = parseFloat(popup3LatLon[1]);
				var latlonObject = L.latLng(popup3Lat, popup3Lon);
				var txt = document.createElement("textarea");
				txt.innerHTML = popup3Content{{ mapSnapBookmark.id }};
				s = txt.value;
				MY_MAP.popup3.setLatLng(latlonObject);
				MY_MAP.popup3.setContent(s);
				MY_MAP.map.addLayer(MY_MAP.popup3);
			}

			function addLocations() {
				if (LOC1{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC1');	
					$('#LOC1').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC2{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC2');	
					$('#LOC2').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC3{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC3');	
					$('#LOC3').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC4{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC4');	
					$('#LOC4').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC5{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC5');	
					$('#LOC5').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC6{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC6');	
					$('#LOC6').prop('checked', true);
				}			
				// add in layers that were turned on
				if (MEDIA{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadMediaLayers();		
					$('#MEDIA').prop('checked', true);
				}			

	
			}

			setTimeout ( addLocations, 1000);

			// open chart if chartOn is true
			if (chartOn{{ mapSnapBookmark.id }} == 'True') {
				mainChart = 1
				CityDigitsMap.drawChartOnSwap();
			}



		});
	</script>
	{% endif %}
{% endblock %}


{% block modal_block %}
<!-- ajax loading page modal -->
<div class="modal fade" id="introduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<h3 class="text-center text-uppercase">Welcome to Cash City</h3>
      	<p class="text-center text-uppercase">
	      	This tool allows you to explore the location and types of banks and alternative financial institutions (AFIs) in New York City.
	    </p>
	   	<p class="text-center text-uppercase">
			As you explore the map, you can add your own images, information, or other media concerning banks or AFIs you might want to share.
		</p>
	   	<p class="text-center text-uppercase">
			Using media uploaded to the map, you can begin to generate opinion pieces to share your thoughts on financial institutions, their geographic distribution, or their impact on the city.
		</p>
	   	<h4 class="text-center text-uppercase">
			Enjoy!
		</h4>
		<div class="clearfix"></div>
        <button id="closeIntroModal" class="btn btn-primary btn-lg center-block" type="submit">START USING TOOL</button>
        <div class="checkbox text-center text-uppercase">
		  <label>
		    <input type="checkbox" id="toggleIntroCookie" value="NoShow">
		   Don't Show This Message
		  </label>
		</div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="mapSnapsTitle" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please add a title/name to this map snap</h4>
      </div>
      <div class="modal-body">
        <input id="mapTitle" type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

