{% extends 'CashCity/base.html' %}
{% load staticfiles %}
{% load cropping %}
{% load widget_tweaks %}


{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/mapbox.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/Control.Geocoder.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/MarkerCluster.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/MarkerCluster.Default.css' %}">	
	<!-- style embedded in django template for static file usage -->
	<style type="text/css">		
		.nav-tabs.nav-mapui > li > a > .edit-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/edit_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .edit-button,
		.nav-tabs.nav-mapui > .active > a:hover > .edit-button,
		.nav-tabs.nav-mapui > .active > a:focus > .edit-button, 
		.nav-tabs.nav-mapui > li > a:hover > .edit-button,
		.nav-tabs.nav-mapui > li > a:focus > .edit-button {
			background-image: url({% static 'CashCity/img/edit_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .image-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .image-button,
		.nav-tabs.nav-mapui > .active > a:hover > .image-button,
		.nav-tabs.nav-mapui > .active > a:focus > .image-button, 
		.nav-tabs.nav-mapui > li > a:hover > .image-button,
		.nav-tabs.nav-mapui > li > a:focus > .image-button {
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .location-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/locations_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .location-button,
		.nav-tabs.nav-mapui > .active > a:hover > .location-button,
		.nav-tabs.nav-mapui > .active > a:focus > .location-button, 
		.nav-tabs.nav-mapui > li > a:hover > .location-button,
		.nav-tabs.nav-mapui > li > a:focus > .location-button {
			background-image: url({% static 'CashCity/img/locations_gray.png' %})
		}
		
		.nav-tabs.nav-mapui > li > a > .map-button {
			display: inline-block;
			margin-right: 3px;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/map_white.png' %})
		}
		
		.nav-tabs.nav-mapui > .active > a > .map-button,
		.nav-tabs.nav-mapui > .active > a:hover > .map-button,
		.nav-tabs.nav-mapui > .active > a:focus > .map-button, 
		.nav-tabs.nav-mapui > li > a:hover > .map-button,
		.nav-tabs.nav-mapui > li > a:focus > .map-button {
			background-image: url({% static 'CashCity/img/map_gray.png' %})
		}
		
		/*
		* Icon classes
		*/
		
		.pawnshop-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/pawnshop.png' %});
		}

		.checkcashing-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/checkcashing.png' %});
		}

		.wiretransfer-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/wiretransfer.png' %});
		}

		.banks-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/bank.png' %});
		}

		.mcdonalds-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/ArchesOrangesm.png' %});
		}
		
		.squaremiles-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/squaremiles.png' %});
		}
		
		.households-icon {
			width: 22px;
			height: 17px;
			display: inline-block;
			background-image: url({% static 'CashCity/img/households.png' %});
		}
		
		.close-icon-white {
			background-image: url({% static 'CashCity/img/close_white.png' %});
		}
		
		.close-icon-gray {
			background-image: url({% static 'CashCity/img/close_gray.png' %});
		}
		
		/*
		* zoom icons
		*/
		
		.citydigits-zoomer .zoom-in > a {
			float: left;
			width: 28px;
			height: 32px;
			background-image: url({% static 'CashCity/img/Zoom_in.png' %});
		}

		.citydigits-zoomer .zoom-in > a:hover {
			background-image: url({% static 'CashCity/img/Zoom_in_hover.png' %});
		}

		.citydigits-zoomer .zoom-out > a {
			float: left;
			margin-left: -30px;
			width: 28px;
			height: 32px;
			background-image: url({% static 'CashCity/img/Zoom_out.png' %});
		}

		.citydigits-zoomer .zoom-out > a:hover {
			background-image: url({% static 'CashCity/img/Zoom_out_hover.png' %});
		}
		
		/*
		* corner icons
		*/

		.citydigits-legend .legendClosed > a {
			float: left;
			width: 39px;
			height: 36px;
			background-image: url({% static 'CashCity/img/legendbutton_white.png' %});
		}

		.citydigits-legend .legendClosed > a:hover {
			background-image: url({% static 'CashCity/img/legendbutton_gray.png' %});
		}

		.citydigits-legend .legendpoverty > a {
			float: left;
			width: 200px;
			height: 188px;
			background-image: url({% static 'CashCity/img/legend_poverty.png' %});
		}

		.citydigits-legend .legendmedhhinc > a {
			float: left;
			width: 200px;
			height: 225px;
			background-image: url({% static 'CashCity/img/legend_medhhincome.png' %});
		}

		.citydigits-legend .legendunemploy > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_unemploy.png' %});
		}

		.citydigits-legend .legendforeignborn > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_foreignborn.png' %});
		}

		.citydigits-legend .legendAFIpersqmi > a {
			float: left;
			width: 200px;
			height: 189px;
			background-image: url({% static 'CashCity/img/legend_AFIsq.png' %});
		}

		.citydigits-legend .legendbankspersqmi > a {
			float: left;
			width: 200px;
			height: 174px;
			background-image: url({% static 'CashCity/img/legend_banks_sq.png' %});
		}

		.citydigits-legend .legendpawnsqmi > a {
			float: left;
			width: 200px;
			height: 175px;
			background-image: url({% static 'CashCity/img/legend_pawn_sq.png' %});
		}

		.citydigits-legend .legendmcdonaldspersqi > a {
			float: left;
			width: 200px;
			height: 174px;
			background-image: url({% static 'CashCity/img/legend_mcdonalds_sq.png' %});
		}

		.citydigits-legend .legendhouseholdsperAFI > a {
			float: left;
			width: 200px;
			height: 265px;
			background-image: url({% static 'CashCity/img/legend_households_perAFI.png' %});
		}

		.citydigits-legend .legendhouseholdsperbank > a {
			float: left;
			width: 200px;
			height: 249px;
			background-image: url({% static 'CashCity/img/legend_households_perbank.png' %});
		}
		.citydigits-legend .legendhouseholdsperMcD > a {
			float: left;
			width: 200px;
			height: 249px;
			background-image: url({% static 'CashCity/img/legend_households_permcD.png' %});
		}

		.citydigits-legend .legendhouseholdsperpawn > a {
			float: left;
			width: 200px;
			height: 248px;
			background-image: url({% static 'CashCity/img/legend_households_perpawn.png' %});
		}

		.citydigits-legend .legendAFIsperbank > a {
			float: left;
			width: 200px;
			height: 233px;
			background-image: url({% static 'CashCity/img/legend_AFI_perbank.png' %});
		}

		.citydigits-legend .legendbanksperAFIs > a {
			float: left;
			width: 200px;
			height: 235px;
			background-image: url({% static 'CashCity/img/legend_banks_perAFI.png' %});
		}
				
		.citydigits-charts .chart-icon > a {
			float: left;
			width: 39px;
			height: 36px;
			background-image: url({% static 'CashCity/img/chart_whitebutton.png' %});
		}

		.citydigits-charts .chart-icon > a:hover {
			background-image: url({% static 'CashCity/img/chart_graybutton.png' %});
		}		
		
		/*
		* Leaflet override
		*/		
		
		.leaflet-popup-close-button {
			background-image: url({% static 'CashCity/img/close_white.png' %});
			background-size: auto auto;
			background-position: 0% 0%;
			opacity: 1;
			height: 22px;
			width: 22px;
		}
		
		/*
		* Media button image
		*/
		
		.image-button-media {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		/*
		* trash icon for removing map snaps
		*/
		
		.trash-icon {
			cursor: pointer;
			display: inline-block;
			position: absolute;
			z-index: 1000;
		    width: 22px;
		    height: 17px;
			background-image: url({% static 'CashCity/img/trash.png' %})
		}
		
		
		
		</style>
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}
<div id="mapSnaps">
	<div class="mapSnaps-content-container">	
		{% include 'CashCity/mapSnapThumbnails.html' %}
	</div>
	<button id="btnSave" type="button" class="btn btn-default btn-lg map-thumbnail">Click to Take<br />a Map Snap</button>
</div>


<div class="map-container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
           <div id="map-nav" class="map-nav map-ui">
			<ul id="navTabs" class="nav nav-tabs nav-mapui nav-justified" role="tablist">
			  <li id='locations-tab'><a href="#locations" role="tab" data-toggle="tab"><div class="location-button"></div>LOCATIONS</a></li>
			  <li id='maps-tab'><a href="#maps" role="tab" data-toggle="tab"><div class="map-button"></div>MAPS</a></li>
			  <li id='createMap-tab'><a href="#createMap" role="tab" data-toggle="tab"><div class="edit-button"></div>CREATE MAP</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane fade in active" id="locations">
				  <div class="container nav-mapui-width">
				    <div class="row">
				      <div class="col-xs-5">
			  			<div class="checkbox">
			  			  <label>
			  			    <input name='locations' type="checkbox" id="All_AFS" value="All_AFS">
			  			    <abbr title="Checking this box will turn on Pawn Shops, Check Cashing and Wire Transfer locations, which are Alternative Financial Insitutions.">Alternative Financial Insitutions</abbr>
			  			  </label>
			  			</div>
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC1" value="LOC1">
						   	<img src="{% static 'CashCity/img/pawn_sm.png' %}" /> Pawn Shops
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC2" value="LOC2">
							<img src="{% static 'CashCity/img/check_sm.png' %}" /> Check Cashing
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC3" value="LOC3">
							<img src="{% static 'CashCity/img/wire_sm.png' %}" /> Wire Transfer
						  </label>
						</div>
				      </div>
					  <div class="col-xs-5">
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC4" value="LOC4">
						   	<img src="{% static 'CashCity/img/banks_sm.png' %}" /> Banks
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC5" value="LOC5">
							<img src="{% static 'CashCity/img/mcd_sm.png' %}" /> McDonald's
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input name='locations' type="checkbox" id="LOC6" value="LOC6">
							Subway Lines
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input name='media' type="checkbox" id="MEDIA" value="MEDIA">
							Media 
						  </label>
						</div>
						<form class="form">
						  <div class="form-group has-feedback map-tag-search-box">
							  {{ form.tags|attr:"id:tags" }}
						    <span class="glyphicon glyphicon-search form-control-feedback-media"></span>
							<small>Search for specific media by tag.</small>	
						  </div>
						</form>
					  </div>
				    </div>
				  </div>
			  </div>
			  <div class="tab-pane fade" id="maps">
			  <div class="container nav-mapui-width">
			    <div class="row">
				      <div class="col-xs-5">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="maps" id="MAP1" value="MAP1_POP_POVERTY" checked>
						    % Population in Poverty
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="maps" id="MAP2" value="MAP2_MED_HH_INCOME">
						    Median Household Income
						  </label>
						</div>
				      </div>
					  <div class="col-xs-5">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="maps" id="MAP3" value="MAP3_PCT_UNEMPLOYED">
						    % Unemployment
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="maps" id="MAP4" value="MAP4_PCT_FOREIGN_BORN">
						    % Population Foreign Born
						  </label>
						</div>
					  </div>
			    </div>
			  </div>
			  </div>
			  <div class="tab-pane fade" id="createMap">
			  	<div class="padding10">	
			        <form class="form-inline" role="form">
						<label class="sr-only" for="var1Select">Select Variable One</label>
	                    <select id="var1Select" data-width="22%" class="selectpicker show-tick form-control">
	                        <option value="Variable 1" class="grey">Variable 1</option>
	                        <option value="Pawn Shops">Pawn Shops</option>
	                        <option value="Alternative Financial Insitutions">Alternative Financial Insitutions</option>
	                        <option value="Banks">Banks</option>
	                        <option value="McDonalds">McDonald's</option>
	                        <option value="Households">Households</option>
	                    </select>
						 / 
						<label class="sr-only" for="var2Select">Select Variable Two</label>
	                    <select id="var2Select" data-width="22%" class="selectpicker show-tick form-control">
	                        <option value="Variable 2" class="grey">Variable 2</option>
	                    </select>
						= 
						<label id="normalizationText" class="lowFontWeight"></label>
			        <form>
				</div>
			  </div>           	
           </div><!-- map-nav -->		  
        </div>
    </div>
    <div id="citydigits-zoomer" class="citydigits-zoomer hidden">
		<div class="zoom-out">
      	  <a id="zoom-out" href="#"></a>
	  	</div>
		<div class="zoom-in">
      	  <a id="zoom-in" href="#"></a>
	  	</div>
    </div>
    <div id="citydigits-charts" class="citydigits-charts hidden">
		<div id="chartid" class="chart-icon">
      	  <a id="chart" href="#"></a>
	  	</div>
    </div>
	<div id="citydigits-legend" class="citydigits-legend hidden">
		<div id= "legendid" class="legendClosed">
      	  <a id="legend" href="#"></a>
	  	</div>
    </div>
	<div id="map"></div>
</div>

{% endblock %}


{% block js_block %}
	<script type="text/javascript" src="{% static 'CashCity/js/bootstrap-select.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/Control.Geocoder.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet.markercluster.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/accounting.min.js' %}"></script>
	<!-- set varible for topojson and csv urls -->
	<script type="text/javascript">
	var neighborhoods = "{% static 'CashCity/topojson/neighborhoods.json' %}";	
	var SubwayLines = "{% static 'CashCity/topojson/mta_subway_only_june2014.geojson' %}";	
	var SubwayStations = "{% static 'CashCity/topojson/subway_stations.geojson' %}";	
	var CheckCashing = "{% static 'CashCity/locationData/CheckCashing.csv' %}";	
	var CommercialBanks = "{% static 'CashCity/locationData/CommercialBanks.csv' %}";	
	var Mcdonalds = "{% static 'CashCity/locationData/Mcdonalds.csv' %}";	
	var MoneyTransferServices = "{% static 'CashCity/locationData/MoneyTransferServices.csv' %}";	
	var PawnShops = "{% static 'CashCity/locationData/PawnShops.csv' %}";
	var closeButtonGray	= "{% static 'CashCity/img/close_gray.png' %}";
	</script>
	<script type="text/javascript">
		<!-- create media geojson -->
		var mediaImageGeojson = {% include 'CashCity/mapFilterMediaImage.html' %};
		var mediaAudioGeojson = {% include 'CashCity/mapFilterMediaAudio.html' %};
		var mediaNoteGeojson = {% include 'CashCity/mapFilterMediaNote.html' %};
		var mediaInterviewGeojson = {% include 'CashCity/mapFilterMediaInterview.html' %};		
	</script>
	<script type="text/javascript" src="{% static 'CashCity/js/CityDigitsMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/CityDigitsMapThumb.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapnav.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapSnap.js' %}"></script>
	{% if mapSnapBookmark %}	
	<!-- load map snap from opinion area -->
	<script type="text/javascript">
		$( window ).load(function() {
			
			// ensure create map layers are loaded
			if (createMapLoaded == false) {
				// show loading modal
				MY_MAP.loadCreateMapLayers();
			}		
			
			
			// set map state variables
			var MapLayer{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.MapLayer }}';	
			var LOC1{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.PawnShops }}';
			var LOC2{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.CheckCashing }}';
			var LOC3{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.WireTransfer }}';
			var LOC4{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.Banks }}';
			var LOC5{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.McDonalds }}';
			var LOC6{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.SubwayLines }}';
			var MEDIA{{ mapSnapBookmark.id }} = '{{ mapSnapBookmark.MEDIA }}';
			

			// set map zoom and center
			MY_MAP.map.setView([{{ mapSnapBookmark.latitude }},{{ mapSnapBookmark.longitude }}],{{ mapSnapBookmark.zoom }});
			
			
			// remove map layers
		    if(mainLayer != null){
				CityDigitsMap.removeLayerFor(mainLayer);
				mainLayer = null;
		    }
			if (LOC1 != null) {
				CityDigitsMap.removeLayerFor(LOC1);							
			}
			if (LOC2 != null) {
				CityDigitsMap.removeLayerFor(LOC2);							
			}
			if (LOC3 != null) {
				CityDigitsMap.removeLayerFor(LOC3);							
			}
			if (LOC4 != null) {
				CityDigitsMap.removeLayerFor(LOC4);							
			}
			if (LOC5 != null) {
				CityDigitsMap.removeLayerFor(LOC5);							
			}
			if (LOC6 != null) {
				CityDigitsMap.removeLayerFor(LOC6);							
			}
			if (MEDIA != null) {
				if (MY_MAP.map.hasLayer(MY_MAP.MEDIA_IMAGES) == true) {
					CityDigitsMap.removeMediaLayers();
				}
			}

			
			// uncheck all layers
			$('#All_AFS').prop('checked', false);
			$('#LOC1').prop('checked', false);
			$('#LOC2').prop('checked', false);
			$('#LOC3').prop('checked', false);
			$('#LOC4').prop('checked', false);
			$('#LOC5').prop('checked', false);
			$('#LOC6').prop('checked', false);
			$('#MEDIA').prop('checked', false);
			$('#MAP1').prop('checked', false);
			$('#MAP2').prop('checked', false);
			$('#MAP3').prop('checked', false);
			$('#MAP4').prop('checked', false);
			$('#var1Select').selectpicker('val', 'Variable 1');
			$("#var2Select").html("<option value='Variable 2' class='grey'>Variable 2</option>");
			$("#var2Select").selectpicker('refresh');
			$("#normalizationText").html('');
			
								
			// load layers
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendpoverty') {
				CityDigitsMap.loadLayerFor('MAP1');
				$('#MAP1').prop('checked', true);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendmedhhinc') {
				CityDigitsMap.loadLayerFor('MAP2');
				$('#MAP2').prop('checked', true);
			}
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendunemploy') {
				CityDigitsMap.loadLayerFor('MAP3');
				$('#MAP3').prop('checked', true);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendforeignborn') {
				CityDigitsMap.loadLayerFor('MAP4');
				$('#MAP4').prop('checked', true);
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendAFIpersqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP1');
				$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Alternative Financial Insitutions per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendbankspersqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP2');
				$('#var1Select').selectpicker('val', 'Banks');
				$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Banks per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendpawnsqmi') {
				CityDigitsMap.loadLayerFor('CREATEMAP3');
				$('#var1Select').selectpicker('val', 'Pawn Shops');
				$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('Pawn Shops per Square Mile');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendmcdonaldspersqi') {
				CityDigitsMap.loadLayerFor('CREATEMAP4');
				$('#var1Select').selectpicker('val', 'McDonalds');
				$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Square Miles');
				$("#normalizationText").html('McDonald\'s per Square Mile');
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperAFI') {
				CityDigitsMap.loadLayerFor('CREATEMAP5');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#normalizationText").html('Households per Alternative Financial Insitution');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperbank') {
				CityDigitsMap.loadLayerFor('CREATEMAP6');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Banks');
				$("#normalizationText").html('Households per Bank');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperMcD') {
				CityDigitsMap.loadLayerFor('CREATEMAP7');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'McDonalds');
				$("#normalizationText").html('Households per McDonald\'s');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendhouseholdsperpawn') {
				CityDigitsMap.loadLayerFor('CREATEMAP8');
				$('#var1Select').selectpicker('val', 'Households');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Pawn Shops');
				$("#normalizationText").html('Households per Pawn Shop');			
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendAFIsperbank') {
				CityDigitsMap.loadLayerFor('CREATEMAP9');
				$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Banks');
				$("#normalizationText").html('Alternative Financial Insitutions per Bank');	
			} 
			if (MapLayer{{ mapSnapBookmark.id }} == 'legendbanksperAFIs') {
				CityDigitsMap.loadLayerFor('CREATEMAP10');
				$('#var1Select').selectpicker('val', 'Banks');
				$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
				$("#var2Select").selectpicker('refresh');
				$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
				$("#normalizationText").html('Banks per Alternative Financial Insitution');	
			}


			function addLocations() {
				if (LOC1{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC1');	
					$('#LOC1').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC2{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC2');	
					$('#LOC2').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC3{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC3');	
					$('#LOC3').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC4{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC4');	
					$('#LOC4').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC5{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC5');	
					$('#LOC5').prop('checked', true);
				}
				// add in layers that were turned on
				if (LOC6{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadLocationsLayerFor('LOC6');	
					$('#LOC6').prop('checked', true);
				}			
				// add in layers that were turned on
				if (MEDIA{{ mapSnapBookmark.id }} == 'True') {
					CityDigitsMap.loadMediaLayers();		
					$('#MEDIA').prop('checked', true);
				}			

	
			}

			setTimeout ( addLocations, 1000);

		});
	</script>
	{% endif %}
{% endblock %}
