{% load staticfiles %}
{% load cropping %}

	var mediaImageGeojson = {
		"type": "FeatureCollection",
    	"features": [
		{% for mediaImage in mediaImages %}
			{
			    "type": "Feature",
			    "properties": {
					"id": "{{ mediaImage.id }}",
			        "name": "{{ mediaImage.title }}",
			        "image": "{% cropped_thumbnail mediaImage 'cropped_image' %}",
			        "color": "{{ mediaImage.getUserProfile.color }}",
			        "section": "{{ mediaImage.getUserProfile.teacherName }}'s Section {{ mediaImage.getUserProfile.section }}",
					"iconUrl": {% if mediaImage.getUserProfile.color == None %}"{% static 'CashCity/img/image_red.png' %}",{% else %}{% with 'CashCity/img/image_'|add:mediaImage.getUserProfile.color|add:'.png' as image_static %}"{% static image_static %}",{% endwith %}{% endif %}
			    },
			    "geometry": {
			        "type": "Point",
			        "coordinates": [ {{ mediaImage.longitude }}, {{ mediaImage.latitude }} ]
			    }
			}{% if forloop.last %}{% else %},{% endif %}
		{% endfor %}
	    ]
	};

	var mediaAudioGeojson = {
		"type": "FeatureCollection",
    	"features": [
		{% for mediaAudio in mediaAudios %}
			{
			    "type": "Feature",
			    "properties": {
					"id": "{{ mediaAudio.id }}",
			        "name": "{{ mediaAudio.title }}",
					{% if ".amr" in mediaAudio.audio.path or ".mov" in mediaAudio.audio.path or ".MOV" in mediaAudio.audio.path or ".gp3" in mediaAudio.audio.path or ".mp4" in mediaAudio.audio.path %}								
				        "audio": "/media/CashCity/{{ mediaAudio.audio }}.mp3",
					{% else %}
				        "audio": "/media/CashCity/{{ mediaAudio.audio }}",
					{% endif %}
			        "color": "{{ mediaAudio.getUserProfile.color }}",
			        "section": "{{ mediaAudio.getUserProfile.teacherName }}'s Section {{ mediaAudio.getUserProfile.section }}",
					"iconUrl": {% if mediaAudio.getUserProfile.color == None %}"{% static 'CashCity/img/audio_red.png' %}",{% else %}{% with 'CashCity/img/audio_'|add:mediaAudio.getUserProfile.color|add:'.png' as image_static %}"{% static image_static %}",{% endwith %}{% endif %}
			    },
			    "geometry": {
			        "type": "Point",
			        "coordinates": [ {{ mediaAudio.longitude }}, {{ mediaAudio.latitude }} ]
			    }
			}{% if forloop.last %}{% else %},{% endif %}
		{% endfor %}
	    ]
	};
	
	var mediaNoteGeojson = {
		"type": "FeatureCollection",
    	"features": [
		{% for mediaNote in mediaNotes %}
			{
			    "type": "Feature",
			    "properties": {
					"id": "{{ mediaNote.id }}",
			        "name": "{{ mediaNote.title }}",
			        "notes": "{{ mediaNote.notes }}",
			        "color": "{{ mediaNote.getUserProfile.color }}",
			        "section": "{{ mediaNote.getUserProfile.teacherName }}'s Section {{ mediaNote.getUserProfile.section }}",
					"iconUrl": {% if mediaNote.getUserProfile.color == None %}"{% static 'CashCity/img/note_red.png' %}",{% else %}{% with 'CashCity/img/note_'|add:mediaNote.getUserProfile.color|add:'.png' as image_static %}"{% static image_static %}",{% endwith %}{% endif %}
			    },
			    "geometry": {
			        "type": "Point",
			        "coordinates": [ {{ mediaNote.longitude }}, {{ mediaNote.latitude }} ]
			    }
			}{% if forloop.last %}{% else %},{% endif %}
		{% endfor %}
	    ]
	};
	
	var mediaInterviewGeojson = {
		"type": "FeatureCollection",
    	"features": [
		{% for mediaInterview in mediaInterviews %}
			{
			    "type": "Feature",
			    "properties": {
					"id": "{{ mediaInterview.id }}",
			        "name": "{{ mediaInterview.title }}",
			        "image": "{% cropped_thumbnail mediaInterview 'cropped_image' %}",
					{% if ".amr" in mediaInterview.audio.path or ".mov" in mediaInterview.audio.path or ".MOV" in mediaInterview.audio.path or ".gp3" in mediaInterview.audio.path or ".mp4" in mediaAudio.audio.path %}
				        "audio": "/media/CashCity/{{ mediaInterview.audio }}.mp3",
					{% else %}
				        "audio": "/media/CashCity/{{ mediaInterview.audio }}",
					{% endif %}
			        "color": "{{ mediaInterview.getUserProfile.color }}",
			        "section": "{{ mediaInterview.getUserProfile.teacherName }}'s Section {{ mediaInterview.getUserProfile.section }}",
					"iconUrl": {% if mediaInterview.getUserProfile.color == None %}"{% static 'CashCity/img/interview_red.png' %}",{% else %}{% with 'CashCity/img/interview_'|add:mediaInterview.getUserProfile.color|add:'.png' as image_static %}"{% static image_static %}",{% endwith %}{% endif %}
			    },
			    "geometry": {
			        "type": "Point",
			        "coordinates": [ {{ mediaInterview.longitude }}, {{ mediaInterview.latitude }} ]
			    }
			}{% if forloop.last %}{% else %},{% endif %}
		{% endfor %}
	    ]
	};
