{% load staticfiles %}

	<script type="text/javascript">	
	var activeMap{{ mapSnap.id }} = null;			
		$( window ).load(function() {
	    	var map{{ mapSnap.id }} = new CityDigitsMapOpinion({{ section.sectionNumber }},{{ mapSnap.latitude }},{{ mapSnap.longitude }},{{ mapSnap.zoom }});
			activeMap{{ mapSnap.id }} = map{{ mapSnap.id }};
			
			// set map state variables
			var MapLayer{{ mapSnap.id }} = '{{ mapSnap.MapLayer }}';	
			var LOC1{{ mapSnap.id }} = '{{ mapSnap.PawnShops }}';
			var LOC2{{ mapSnap.id }} = '{{ mapSnap.CheckCashing }}';
			var LOC3{{ mapSnap.id }} = '{{ mapSnap.WireTransfer }}';
			var LOC4{{ mapSnap.id }} = '{{ mapSnap.Banks }}';
			var LOC5{{ mapSnap.id }} = '{{ mapSnap.McDonalds }}';
			var LOC6{{ mapSnap.id }} = '{{ mapSnap.SubwayLines }}';
			var MEDIA{{ mapSnap.id }} = '{{ mapSnap.MEDIA }}';
			var title{{ mapSnap.id }} = '{{ mapSnap.title }}';
			var popup2Content{{ mapSnap.id }} = '{{ mapSnap.popup2Content }}';
			var popup2LatLon{{ mapSnap.id }} = '{{ mapSnap.popup2LatLon }}';
			var popup3Content{{ mapSnap.id }} = '{{ mapSnap.popup3Content }}';
			var popup3LatLon{{ mapSnap.id }} = '{{ mapSnap.popup3LatLon }}';
			var chartOn{{ mapSnap.id }} = '{{ mapSnap.chartOn }}';

			
			// load the layers if neccesary
			if (MapLayer{{ mapSnap.id }}) {
				map{{ mapSnap.id }}.loadLayers();
				map{{ mapSnap.id }}.loadCreateMapLayers();
			}

			if (LOC1{{ mapSnap.id }} || LOC2{{ mapSnap.id }} || LOC3{{ mapSnap.id }} || LOC4{{ mapSnap.id }} || LOC5{{ mapSnap.id }} || LOC6{{ mapSnap.id }} || LOC7{{ mapSnap.id }}) {
				map{{ mapSnap.id }}.loadMarkers();
			}
			
			if (MEDIA{{ mapSnap.id }}) {
				map{{ mapSnap.id }}.loadMedia();
			}
						
			// add in layers that were turned on
			if (MapLayer{{ mapSnap.id }} == 'legendpoverty') {
				CityDigitsMapOpinion.loadLayerFor('MAP1', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendmedhhinc') {
				CityDigitsMapOpinion.loadLayerFor('MAP2', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			}
			if (MapLayer{{ mapSnap.id }} == 'legendunemploy') {
				CityDigitsMapOpinion.loadLayerFor('MAP3', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendforeignborn') {
				CityDigitsMapOpinion.loadLayerFor('MAP4', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendAFIpersqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP1', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendbankspersqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP2', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendpawnsqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP3', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendmcdonaldspersqi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP4', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperAFI') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP5', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperbank') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP6', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperMcD') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP7', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperpawn') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP8', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendAFIsperbank') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP9', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			} 
			if (MapLayer{{ mapSnap.id }} == 'legendbanksperAFIs') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP10', map{{ mapSnap.id }}, {{ section.sectionNumber }});	
			}

			// open the legend
			if (MapLayer{{ mapSnap.id }}) {
				$('#legendid'+{{ section.sectionNumber }}).attr('class', MapLayer{{ mapSnap.id }});
			} else {
				$('#legendid'+{{ section.sectionNumber }}).attr('class', 'legendClosed');
			}

			// open chart if chartOn is true
			if (chartOn{{ mapSnap.id }} == 'True') {
				console.log('Open Chart?', chartOn{{ mapSnap.id }});
				CityDigitsMapOpinion.drawChart(MapLayer{{ mapSnap.id }}, {{ section.sectionNumber }});
			} else {
				$('#chart'+{{ section.sectionNumber }}).click(function() {
					CityDigitsMapOpinion.drawChart(MapLayer{{ mapSnap.id }}, {{ section.sectionNumber }});
				});

			}

			// if there's popup content open popup and fill it with that content
			function addPopup(){
				if (popup2Content{{ mapSnap.id }} && popup2LatLon{{ mapSnap.id }}) {

					var popup2LatLon = popup2LatLon{{ mapSnap.id }}.split(',');
					var popup2Lat = parseFloat(popup2LatLon[0]);
					var popup2Lon = parseFloat(popup2LatLon[1]);
					var latlonObject = L.latLng(popup2Lat, popup2Lon);
					var txt = document.createElement("textarea");
					txt.innerHTML = popup2Content{{ mapSnap.id }};
					s = txt.value;
					activeMap{{ mapSnap.id }}.popup2.setLatLng(latlonObject);
					activeMap{{ mapSnap.id }}.popup2.setContent(s);
					activeMap{{ mapSnap.id }}.map.addLayer(activeMap{{ mapSnap.id }}.popup2);
				}

				if (popup3Content{{ mapSnap.id }} && popup3LatLon{{ mapSnap.id }}) {

					var popup3LatLon = popup3LatLon{{ mapSnap.id }}.split(',');
					var popup3Lat = parseFloat(popup3LatLon[0]);
					var popup3Lon = parseFloat(popup3LatLon[1]);
					var latlonObject = L.latLng(popup3Lat, popup3Lon);
					var txt = document.createElement("textarea");
					txt.innerHTML = popup3Content{{ mapSnap.id }};
					s = txt.value;
					activeMap{{ mapSnap.id }}.popup3.setLatLng(latlonObject);
					activeMap{{ mapSnap.id }}.popup3.setContent(s);
					activeMap{{ mapSnap.id }}.map.addLayer(activeMap{{ mapSnap.id }}.popup3);
				}

			}

			
			function addLocations() {
				if (LOC1{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC1', activeMap{{ mapSnap.id }});	
				}
				// add in layers that were turned on
				if (LOC2{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC2', activeMap{{ mapSnap.id }});	
				}
				// add in layers that were turned on
				if (LOC3{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC3', activeMap{{ mapSnap.id }});	
				}
				// add in layers that were turned on
				if (LOC4{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC4', activeMap{{ mapSnap.id }});	
				}
				// add in layers that were turned on
				if (LOC5{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC5', activeMap{{ mapSnap.id }});	
				}
				// add in layers that were turned on
				if (LOC6{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC6', activeMap{{ mapSnap.id }});	
				}			
				// add in layers that were turned on
				if (MEDIA{{ mapSnap.id }} == 'True') {
					CityDigitsMapOpinion.loadMediaLayers(activeMap);	
				}			

			}

			
			setTimeout ( addLocations, 5000);
			setTimeout ( addPopup, 5000);

		
		});
	</script>
