{% load staticfiles %}

	<script type="text/javascript">				
		$( window ).load(function() {
	    	var map{{ mapSnap.id }} = new CityDigitsMapOpinion({{ section.sectionNumber }},{{ mapSnap.latitude }},{{ mapSnap.longitude }},{{ mapSnap.zoom }});
			
			var MapLayer = '{{ mapSnap.MapLayer }}';	
			var LOC1 = '{{ mapSnap.PawnShops }}';
			var LOC2 = '{{ mapSnap.CheckCashing }}';
			var LOC3 = '{{ mapSnap.WireTransfer }}';
			var LOC4 = '{{ mapSnap.Banks }}';
			var LOC5 = '{{ mapSnap.McDonalds }}';
			var LOC6 = '{{ mapSnap.SubwayLines }}';
			var MEDIA = '{{ mapSnap.Media }}';
			
			// load the layers if neccesary
			if (MapLayer) {
				map{{ mapSnap.id }}.loadLayers();
				map{{ mapSnap.id }}.loadCreateMapLayers();
			}

			if (LOC1 || LOC2 || LOC3 || LOC4 || LOC5 || LOC6 || LOC7) {
				map{{ mapSnap.id }}.loadMarkers();
			}
			
			if (MEDIA) {
				map{{ mapSnap.id }}.loadMedia();
			}
			
			// set MY_MAP to load layers selected
			MY_MAP = map{{ mapSnap.id }};
			
			// add in layers that were turned on
			if (MapLayer == 'legendpoverty') {
				CityDigitsMapOpinion.loadLayerFor('MAP1');	
			} 
			if (MapLayer == 'legendmedhhinc') {
				CityDigitsMapOpinion.loadLayerFor('MAP2');	
			}
			if (MapLayer == 'legendunemploy') {
				CityDigitsMapOpinion.loadLayerFor('MAP3');	
			} 
			if (MapLayer == 'legendforeignborn') {
				CityDigitsMapOpinion.loadLayerFor('MAP4');	
			} 
			if (MapLayer == 'legendAFIpersqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP1');	
			} 
			if (MapLayer == 'legendbankspersqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP2');	
			} 
			if (MapLayer == 'legendpawnsqmi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP3');	
			} 
			if (MapLayer == 'legendmcdonaldspersqi') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP4');	
			} 
			if (MapLayer == 'legendhouseholdsperAFI') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP5');	
			} 
			if (MapLayer == 'legendhouseholdsperbank') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP6');	
			} 
			if (MapLayer == 'legendhouseholdsperMcD') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP7');	
			} 
			if (MapLayer == 'legendhouseholdsperpawn') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP8');	
			} 
			if (MapLayer == 'legendAFIsperbank') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP9');	
			} 
			if (MapLayer == 'legendbanksperAFIs') {
				CityDigitsMapOpinion.loadLayerFor('CREATEMAP10');	
			}
			
			function addLocations() {
				if (LOC1 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC1');	
				}
				// add in layers that were turned on
				if (LOC2 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC2');	
				}
				// add in layers that were turned on
				if (LOC3 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC3');	
				}
				// add in layers that were turned on
				if (LOC4 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC4');	
				}
				// add in layers that were turned on
				if (LOC5 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC5');	
				}
				// add in layers that were turned on
				if (LOC6 == 'True') {
					CityDigitsMapOpinion.loadLocationsLayerFor('LOC6');	
				}			

				// add in layers that were turned on
				if (MEDIA == 'True') {
					CityDigitsMapOpinion.loadMediaLayerFor('MEDIA');	
				}				
			}

			
			setTimeout ( addLocations, 3000);																
		
		});
	</script>
