{% load staticfiles %}

<!-- load thumbnail mini-maps -->
{% for mapSnap in mapSnaps %}
	<span id="{{ mapSnap.id }}" class="removeMapSnap trash-icon"></span>
	<div id="map{{ mapSnap.id }}" title="Remove this map." class="map-thumbnail mediaSelect"></div>
	{{ id }}
{% endfor %}

	<script type="text/javascript">		
	{% for mapSnap in mapSnaps %}
		// ensure each map is set as inactive to start
		var activeMap{{ mapSnap.id }} = null;		
	{% endfor %}
				
		function getMapSnaps() {
			{% for mapSnap in mapSnaps %}
		    	var map{{ mapSnap.id }} = new CityDigitsMapThumb({{ mapSnap.id }},'',{{ mapSnap.latitude }},{{ mapSnap.longitude }},{{ mapSnap.zoom }});
				activeMap{{ mapSnap.id }} = map{{ mapSnap.id }};
						
				var MapLayer{{ mapSnap.id }} = '{{ mapSnap.MapLayer }}';	
				var LOC1{{ mapSnap.id }} = '{{ mapSnap.PawnShops }}';
				var LOC2{{ mapSnap.id }} = '{{ mapSnap.CheckCashing }}';
				var LOC3{{ mapSnap.id }} = '{{ mapSnap.WireTransfer }}';
				var LOC4{{ mapSnap.id }} = '{{ mapSnap.Banks }}';
				var LOC5{{ mapSnap.id }} = '{{ mapSnap.McDonalds }}';
				var LOC6{{ mapSnap.id }} = '{{ mapSnap.SubwayLines }}';
				var MEDIA{{ mapSnap.id }} = '{{ mapSnap.MEDIA }}';
				
				// load map layers if not loaded yet
				if (layersLoaded == false) {
					MY_MAP.loadLayers();
				}		
				
				// load create map layers if not loaded yet
				if (createMapLoaded == false) {
					MY_MAP.loadCreateMapLayers();
				}		
				
				
				// add in layers that were turned on
				if (MapLayer{{ mapSnap.id }} == 'legendpoverty') {
					map{{ mapSnap.id }}.load_MAP1_POP_POVERTY(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendmedhhinc') {
					map{{ mapSnap.id }}.load_MAP2_MED_HH_INCOME(activeMap{{ mapSnap.id }});	
				}
				if (MapLayer{{ mapSnap.id }} == 'legendunemploy') {
					map{{ mapSnap.id }}.load_MAP3_PCT_UNEMPLOYED(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendforeignborn') {
					map{{ mapSnap.id }}.load_MAP4_PCT_FOREIGN_BORN(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendAFIpersqmi') {
					map{{ mapSnap.id }}.load_CREATEMAP1_AFI_PER_SQMILE(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendbankspersqmi') {
					map{{ mapSnap.id }}.load_CREATEMAP2_BANKS_PER_SQMILE(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendpawnsqmi') {
					map{{ mapSnap.id }}.load_CREATEMAP3_PAWN_SHOPS_PER_SQMILE(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendmcdonaldspersqi') {
					map{{ mapSnap.id }}.load_CREATEMAP4_MCDONALDS_PER_SQMILE(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperAFI') {
					map{{ mapSnap.id }}.load_CREATEMAP5_HH_PER_AFI(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperbank') {
					map{{ mapSnap.id }}.load_CREATEMAP6_HH_PER_BANK(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperMcD') {
					map{{ mapSnap.id }}.load_CREATEMAP7_HH_PER_MCDONALDS(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperpawn') {
					map{{ mapSnap.id }}.load_CREATEMAP8_HH_PER_PAWN_SHOP(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendAFIsperbank') {
					map{{ mapSnap.id }}.load_CREATEMAP9_AFIS_PER_BANK(activeMap{{ mapSnap.id }});	
				} 
				if (MapLayer{{ mapSnap.id }} == 'legendbanksperAFIs') {
					map{{ mapSnap.id }}.load_CREATEMAP10_BANKS_PER_AFI(activeMap{{ mapSnap.id }});	
				}

				function addLocations{{ mapSnap.id }}() {
					if (LOC1{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC1_PAWN_SHOPS(activeMap{{ mapSnap.id }});
					}
					// add in layers that were turned on
					if (LOC2{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC2_CHECK_CASHING(activeMap{{ mapSnap.id }});	
					}
					// add in layers that were turned on
					if (LOC3{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC3_WIRE_TRANSFER(activeMap{{ mapSnap.id }});	
					}
					// add in layers that were turned on
					if (LOC4{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC4_BANKS(activeMap{{ mapSnap.id }});
					}	
					// add in layers that were turned on
					if (LOC5{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC5_MCDONALDS(activeMap{{ mapSnap.id }});
					}
					// add in layers that were turned on
					if (LOC6{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.load_LOC6_SUBWAY_LINES(activeMap{{ mapSnap.id }});	
					}			

					// add in layers that were turned on
					if (MEDIA{{ mapSnap.id }} == 'True') {
						map{{ mapSnap.id }}.loadMEDIA(activeMap{{ mapSnap.id }});	
					}
				
				}

				setTimeout ( addLocations{{ mapSnap.id }}, 3000 );
							


				// select map state based on one stored
				$('#map{{ mapSnap.id }}').click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
					} else {
						// remove all other active classes and set clicked to active
				        $(".mediaSelect").removeClass('active');
						$(this).addClass('active');
						
						// set map zoom and center
						var zoom = {{ mapSnap.zoom }} + 3;
						MY_MAP.map.setView([{{ mapSnap.latitude }},{{ mapSnap.longitude }}],zoom);
						
						
						// remove map layers
					    if(mainLayer != null){
							CityDigitsMap.removeLayerFor(mainLayer);
							mainLayer = null;
					    }
						if (LOC1 != null) {
							CityDigitsMap.removeLayerFor(LOC1);							
						}
						if (LOC2 != null) {
							CityDigitsMap.removeLayerFor(LOC2);							
						}
						if (LOC3 != null) {
							CityDigitsMap.removeLayerFor(LOC3);							
						}
						if (LOC4 != null) {
							CityDigitsMap.removeLayerFor(LOC4);							
						}
						if (LOC5 != null) {
							CityDigitsMap.removeLayerFor(LOC5);							
						}
						if (LOC6 != null) {
							CityDigitsMap.removeLayerFor(LOC6);							
						}

						if (MEDIA != null) {
							CityDigitsMap.removeLayerFor(MEDIA);							
						}
						
						// uncheck all layers
						$('#All_AFS').prop('checked', false);
						$('#LOC1').prop('checked', false);
						$('#LOC2').prop('checked', false);
						$('#LOC3').prop('checked', false);
						$('#LOC4').prop('checked', false);
						$('#LOC5').prop('checked', false);
						$('#LOC6').prop('checked', false);
						$('#MAP1').prop('checked', false);
						$('#MAP2').prop('checked', false);
						$('#MAP3').prop('checked', false);
						$('#MAP4').prop('checked', false);
						$('#var1Select').selectpicker('val', 'Variable 1');
						$("#var2Select").html("<option value='Variable 2' class='grey'>Variable 2</option>");
						$("#var2Select").selectpicker('refresh');
						$("#normalizationText").html('');
						
											
						// load layers
						if (MapLayer{{ mapSnap.id }} == 'legendpoverty') {
							CityDigitsMap.loadLayerFor('MAP1');
							$('#MAP1').prop('checked', true);
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendmedhhinc') {
							CityDigitsMap.loadLayerFor('MAP2');
							$('#MAP2').prop('checked', true);
						}
						if (MapLayer{{ mapSnap.id }} == 'legendunemploy') {
							CityDigitsMap.loadLayerFor('MAP3');
							$('#MAP3').prop('checked', true);
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendforeignborn') {
							CityDigitsMap.loadLayerFor('MAP4');
							$('#MAP4').prop('checked', true);
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendAFIpersqmi') {
							CityDigitsMap.loadLayerFor('CREATEMAP1');
							$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Square Miles');
							$("#normalizationText").html('Alternative Financial Insitutions per Square Mile');	
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendbankspersqmi') {
							CityDigitsMap.loadLayerFor('CREATEMAP2');
							$('#var1Select').selectpicker('val', 'Banks');
							$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Square Miles');
							$("#normalizationText").html('Banks per Square Mile');	
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendpawnsqmi') {
							CityDigitsMap.loadLayerFor('CREATEMAP3');
							$('#var1Select').selectpicker('val', 'Pawn Shops');
							$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Square Miles');
							$("#normalizationText").html('Pawn Shops per Square Mile');	
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendmcdonaldspersqi') {
							CityDigitsMap.loadLayerFor('CREATEMAP4');
							$('#var1Select').selectpicker('val', 'McDonalds');
							$("#var2Select").html("<option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Square Miles');
							$("#normalizationText").html('McDonald\'s per Square Mile');
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperAFI') {
							CityDigitsMap.loadLayerFor('CREATEMAP5');
							$('#var1Select').selectpicker('val', 'Households');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
							$("#normalizationText").html('Households per Alternative Financial Insitution');			
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperbank') {
							CityDigitsMap.loadLayerFor('CREATEMAP6');
							$('#var1Select').selectpicker('val', 'Households');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Banks');
							$("#normalizationText").html('Households per Bank');			
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperMcD') {
							CityDigitsMap.loadLayerFor('CREATEMAP7');
							$('#var1Select').selectpicker('val', 'Households');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'McDonalds');
							$("#normalizationText").html('Households per McDonald\'s');			
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendhouseholdsperpawn') {
							CityDigitsMap.loadLayerFor('CREATEMAP8');
							$('#var1Select').selectpicker('val', 'Households');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Pawn Shops'>Pawn Shops</option><option value='McDonalds'>McDonald's</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Pawn Shops');
							$("#normalizationText").html('Households per Pawn Shop');			
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendAFIsperbank') {
							CityDigitsMap.loadLayerFor('CREATEMAP9');
							$('#var1Select').selectpicker('val', 'Alternative Financial Insitutions');
							$("#var2Select").html("<option value='Banks'>Banks</option><option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Banks');
							$("#normalizationText").html('Alternative Financial Insitutions per Bank');	
						} 
						if (MapLayer{{ mapSnap.id }} == 'legendbanksperAFIs') {
							CityDigitsMap.loadLayerFor('CREATEMAP10');
							$('#var1Select').selectpicker('val', 'Banks');
							$("#var2Select").html("<option value='Alternative Financial Insitutions'>Alternative Financial Insitutions</option><option value='Square Miles'>Square Miles</option>");
							$("#var2Select").selectpicker('refresh');
							$('#var2Select').selectpicker('val', 'Alternative Financial Insitutions');
							$("#normalizationText").html('Banks per Alternative Financial Insitution');	
						}


						function addLocations() {
							if (LOC1{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC1');	
								$('#LOC1').prop('checked', true);
							}
							// add in layers that were turned on
							if (LOC2{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC2');	
								$('#LOC2').prop('checked', true);
							}
							// add in layers that were turned on
							if (LOC3{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC3');	
								$('#LOC3').prop('checked', true);
							}
							// add in layers that were turned on
							if (LOC4{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC4');	
								$('#LOC4').prop('checked', true);
							}
							// add in layers that were turned on
							if (LOC5{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC5');	
								$('#LOC5').prop('checked', true);
							}
							// add in layers that were turned on
							if (LOC6{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('LOC6');	
								$('#LOC6').prop('checked', true);
							}			

							// add in layers that were turned on
							if (MEDIA{{ mapSnap.id }} == 'True') {
								CityDigitsMap.loadLocationsLayerFor('MEDIA');	
								$('#MEDIA').prop('checked', true);
							}
				
						}

						setTimeout ( addLocations, 1000);

					
					}
		
				});
			
			{% endfor %}
			
			// ensure thumbnail maps render in dropdown				
			$("#openMapSnaps").click(function(e) {
				e.stopPropagation();
				$("#mapSnaps").slideToggle( "slow" );
				// use invalidate size to make maps show appropriately
				{% for mapSnap in mapSnaps %}
					map{{ mapSnap.id }}.map.invalidateSize(false);
				{% endfor %}
			});
			
			$('html').click(function() {
				if ($("#mapSnaps").css("display") == 'block') {
					$("#mapSnaps").slideToggle( "slow" );
				}
			});
			
			$('#mapSnaps').click(function(event){
			    event.stopPropagation();
			});
					
			
		}
		
		// listener to remove map snaps
	    $(".removeMapSnap").click(function() {
			var mapSnapId = $(this).attr('id');
	
			    $.ajax({
			        type: 'GET',
			        url:  'removemap/?mapId=' + mapSnapId, 
			        success: function(data){
			            $(".mapSnaps-content-container").html(data);
						// unbind event handler on the drop down so we can reinitiate it later
						$("#openMapSnaps").off( "click" );
						$('html').off( "click" );
						getMapSnaps();
			        }
			
			    });

	    });
							
		
		$( window ).load(function() {
			getMapSnaps();
		});
	</script>
