{% extends 'CashCity/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/mapbox.css' %}">
	<style type="text/css">
		.nav-tabs.nav-tabs-media > li > a > .image-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		.nav-tabs.nav-tabs-media > li > a > .audio-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			margin-right: 3px;
			background-image: url({% static 'CashCity/img/audio_gray.png' %})
		}
		
		.nav-tabs.nav-tabs-media > li > a > .note-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/note_gray.png' %})
		}

		.nav-tabs.nav-tabs-media > li > a > .interview-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/interview_gray.png' %})
		}
				
	</style>
{% endblock %}		


{% block body_block %}
<div class="half-container">
	{% if form.title.value %}
		<div class="row">
			<ul class="nav nav-tabs nav-justified nav-tabs-media">
			    <li id="mediaFormImage" class="disabled"><a href="#"><div class="image-button"></div>Image</a></li>
			    <li id="mediaFormAudio" class="disabled"><a href="#"><div class="audio-button"></div>Audio</a></li>
			    <li id="mediaFormNote" class="disabled"><a href="#"><div class="note-button"></div>Note</a></li>
			    <li id="mediaFormInterview" class="disabled"><a href="#"><div class="interview-button"></div>Interview</a></li>
			</ul>
		</div>
	{% else %}
		<div class="row">
			<ul class="nav nav-tabs nav-justified nav-tabs-media">
			    <li id="mediaFormImage"><a href="{% url 'mediaFormImage' %}"><div class="image-button"></div>Image</a></li>
			    <li id="mediaFormAudio"><a href="{% url 'mediaFormAudio' %}"><div class="audio-button"></div>Audio</a></li>
			    <li id="mediaFormNote"><a href="{% url 'mediaFormNote' %}"><div class="note-button"></div>Note</a></li>
			    <li id="mediaFormInterview"><a href="{% url 'mediaFormInterview' %}"><div class="interview-button"></div>Interview</a></li>
			</ul>
		</div>
	{% endif %}
	<div class="row padding10bottom">
		<h4>Add Image</h4>
		<small><em>Add media to the map. Make sure to include all the fields below.</em></small>
	</div>
	<div class="row">
		<form role="form" enctype="multipart/form-data" method="post" action="." >{% csrf_token %}
			<div class="form-group">
				<label for="title">Title</label>{% if form.title.errors %} <span class="text-danger">{{ form.title.errors|join:", " }}</span>{% endif %}
				{{ form.title|add_class:"form-control" }}
			</div>
			<div class="form-group">
				{% if form.image.errors %} <span class="text-danger">{{ form.image.errors|join:", " }}</span>{% endif %}
				<div class="input-group">				
	                <span class="input-group-btn">
	                    <span class="btn btn-default btn-file">
	                        Add Image {{ form.image|attr:"accept:image/*"|attr:"capture:camera" }}
	                    </span>
	                </span>
					{% if form.errors %}
	               		<input type="text" class="form-control" placeholder='No File Chosen' readonly>
					{% elif form.image.value %}
	               		<input type="text" class="form-control" placeholder='{{ form.image.value }}' readonly>
					{% else %}
	               		<input type="text" class="form-control" placeholder='No File Chosen' readonly>
					{% endif %}
				</div>
				
			</div>
			<div class="form-group">
				<label for="caption">Caption</label>{% if form.caption.errors %} <span class="text-danger">{{ form.caption.errors|join:", " }}</span>{% endif %}
				{{ form.caption|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<label for="address">Location</label>
				{% if form.address.errors %} <span class="text-danger">{{ form.address.errors|join:", " }}</span>{% endif %}
				{{ form.address|attr:"type:hidden" }}
				{{ form.latitude|attr:"type:hidden" }}
				{{ form.longitude|attr:"type:hidden" }}
				<div id="geosearch-target-form" class="input-group">
					<span class="input-group-btn">
						<span id='addressSearch' class="btn btn-default btn-file">
							Enter
						</span>
					</span>
					<span class="input-group-btn">
						<span id='refreshMap' class="btn btn-default btn-file">
							Refresh
						</span>
					</span>
				</div>
				<div id="formMap"></div>
			</div>
			<div class="form-group">
				<label for="tags">Tags</label>{% if form.tags.errors %} <span class="text-danger">{{ form.tags.errors|join:", " }}</span>{% endif %}
				{{ form.tags|add_class:"form-control" }}
			</div>	
			<button type="submit" class="btn btn-primary" name="publish" id="publish" value="submit">Publish</button>
			<button type="submit" class="btn btn-default" name="saveDraft" id="saveDraft" value="saveDraft">Save Draft</button>
			<button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
		</form>
	</div>	
</div>
	
{% endblock %}


{% block js_block %}
	<script type="text/javascript">
	{% if form.address.value == None %}
		var initialAddress = "";
	{% else %}
		var initialAddress = "{{ form.address.value }}";
	{% endif %}
	var initialLat = "{{ form.latitude.value }}";
	var initialLng = "{{ form.longitude.value }}";
	var marker = '';
	$(document).ready( function() {
		// set mediaFormImage to active
		$('#mediaFormImage').addClass('active');			
	});
	</script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/l.control.geosearch.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/l.geosearch.provider.google.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/form-map.js' %}"></script>		
	<script type="text/javascript" src="{% static 'CashCity/js/form.js' %}"></script>
{% endblock %}
