{% extends "CashCity/base.html" %}
{% load cropping %}
{% load i18n %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/bootstrap-select.min.css' %}">	
{% endblock %}	


{% block body_block %}
<div class="full-container">
	<h3>Teacher Account</h3>
	<div class="row">
		<div class="col-xs-6">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
				  <a href="{% url 'accountProfile' %}"><button type="button" class="btn btn-default">Account</button></a>
				</div>
				<div class="btn-group">
					<a href="{% url 'teams' %}"><button type="button" class="btn btn-default">Teams</button></a>
				</div>
				<div class="btn-group">	
			  	  <a href="#"><button type="button" class="btn btn-default  active">Media</button></a>
  				</div>
  				<div class="btn-group">		  
			 	   <a href="#"><button type="button" class="btn btn-default">Opinions</button></a>
   				</div>				   
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="container midPageFormcontainer">
			<div class="jumbotron ">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="text-danger">Remove An Interview</h3>
						<p>Are you sure you want to remove this interview?</p>
					</div>
					<form role="form" method="post" action=".">{% csrf_token %}
						<div class="col-xs-12">	
							<div class="form-group">
								<img src="{% cropped_thumbnail mediaInterview 'cropped_image' %}">
							</div>
							<div class="form-group">
								{% if ".amr" in mediaInterview.audio.path %}
									<audio src="/media/CashCity/{{ mediaInterview.audio }}.mp3" preload="auto" controls></audio>
								{% else %}
									<audio src="/media/CashCity/{{ mediaInterview.audio }}" preload="auto" controls></audio>
								{% endif %}
							</div>
							<div class="form-group">
								<label for="title">Title:</label>
								{{ mediaInterview.title|title }}
							</div>
							<div class="form-group">
								<label for="caption">Caption:</label>
								{{ mediaInterview.caption }}
							</div>
							<div class="form-group">
								<label for="Tags">Tags:</label>
								{% for tags in mediaInterview.tags.names %}
								    {{ tags }}{% if forloop.last %}{% else %},{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="col-xs-6">		
							<button type="submit" class="btn btn-danger pull-left" name="save">Remove</button>
						</div>
						<div class="col-xs-6">				
							<button type="submit" class="btn btn-default pull-right" name="cancel">Cancel</button>
						</div>		
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'CashCity/js/bootstrap-select.min.js' %}"></script>
{% endblock %}
