{% extends 'CashCity/base.html' %}
{% load cropping %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/mapbox.css' %}">
	<style type="text/css">
		.image_green {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_green.png' %})
		}
		.image_orange {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_orange.png' %})
		}
		.image_pink {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_pink.png' %})
		}
		.image_purple {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_purple.png' %})
		}
		.image_red {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_red.png' %})
		}
		.image_yellow {
			display: inline-block;
			width: 42px;
			height: 50px;
			background-image: url({% static 'CashCity/img/image_yellow.png' %})
		}
		
		.opinion_green {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_green.png' %})
		}
		.opinion_orange {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_orange.png' %})
		}
		.opinion_pink {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_pink.png' %})
		}
		.opinion_purple {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_purple.png' %})
		}
		.opinion_red {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_red.png' %})
		}
		.opinion_yellow {
			display: inline-block;
		    width: 25px;
		    height: 27px;
			background-image: url({% static 'CashCity/img/opinion_yellow.png' %})
		}
		
		.trash-icon {
			display: inline-block;
		    width: 22px;
		    height: 17px;
			background-image: url({% static 'CashCity/img/trash.png' %})
		}
		
				
	</style>
{% endblock %}		


{% block body_block %}
<div  class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 medium-container media-page">
	<div class="row">
		<h3>{{ mediaImageObject.title|title }}</h3>
		{% if mediaImageObject.getUserProfile.color == None %}
			<p><strong>Teacher Added</strong><span class="pull-right">{{ mediaImageObject.last_modified|date:"F j, Y" }}</span><br />Teacher: {{ mediaImageObject.getUserProfile.teacherName }}</p>
		{% else %}
			<div class="image_{{ mediaImageObject.getUserProfile.color }} pull-left margin-right"></div>
			<p><strong>{{ mediaImageObject.getUserProfile.color|title }} Team</strong><span class="pull-right">{{ mediaImageObject.last_modified|date:"F j, Y" }}</span><br />{{ mediaImageObject.getUserProfile.teacherName }}'s Section {{ mediaImageObject.getUserProfile.section }}</p>
		{% endif %}	
	</div>
	<div class="row">
		<hr />
	</div>	
	<div class="row">
		
		<img src="{% cropped_thumbnail mediaImageObject 'cropped_image_w640_h480' %}">
		<div id="mediaMap"></div>
		<p>{{ mediaImageObject.caption }}</p>
		<p><strong>Tags:</strong> 
			{% for tags in mediaImageObject.tags.names %}
			    {{ tags }}{% if forloop.last %}{% else %},{% endif %}
			{% endfor %}
		</p>
	</div>
	<br />		
	<div class="row">
		{% if comments %}
			<h4>Comments</h4>
			<hr>
			{% for comment in comments %}
				{% if comment.getUserProfile.user == request.user %}
					<a class="pull-right" href="/cashcity/media/form/remove/comment/image/{{ comment.id }}/"><div class="trash-icon"></div></a>					
				{% endif %}		
				<div class="opinion_{{ comment.getUserProfile.color }} pull-left margin-right"></div>
				{% if comment.getUserProfile.teacherOrStudent %}
					<p>{{ comment.getUserProfile.teacherName }}
				{% else %}
					<p><strong>{{ comment.getUserProfile.color|title }} Team,</strong> {{ comment.getUserProfile.teacherName }}'s Class
				{% endif %}
				<span class="pull-right">{{comment.created|timesince }} ago</span></p>
				<p>{{ comment.comment }}</p>
				<hr>
			{% endfor %}
		{% endif %}
		<br />
		{% if success %}
			<div class="alert alert-success fade in" role="alert">
				<strong>Comment Saved!</strong>
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
		{% endif %}
		{% if removed %}
			<div class="alert alert-danger fade in" role="alert">
				<strong>Comment Removed!</strong>
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
		{% endif %}
		{% if comment_form %}
			<form role="form" method="post" action="/cashcity/media/image/{{ mediaImageObject.id }}/" >{% csrf_token %}
				<div class="form-group">
					<label for="comment">Add A Comment</label>{% if comment_form.comment.errors %} <span class="text-danger">{{ comment_form.comment.errors|join:", " }}</span>{% endif %}
					{{ comment_form.comment|add_class:"form-control" }}
				</div>
				<button type="submit" class="btn btn-default" name="submit" value="submit">Submit</button>
			</form>
		{% endif %}

		
	</div>

</div>
	
{% endblock %}


{% block js_block %}
	<script type="text/javascript">
	var lat = {{ mediaImageObject.latitude }};
	var lng = {{ mediaImageObject.longitude }};
	{% if mediaImageObject.getUserProfile.color == None %}
		var iconUrl = "{% static 'CashCity/img/image_red.png' %}";
	{% else %}		
		{% with 'CashCity/img/image_'|add:mediaImageObject.getUserProfile.color|add:'.png' as image_static %}
			var iconUrl = "{% static image_static %}";
		{% endwith %}
	{% endif %}
	</script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/media-map.js' %}"></script>
{% endblock %}
