{% extends 'CashCity/base.html' %}
{% load cropping %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/jquery-ui.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'CashCity/css/mapbox.css' %}">	
	<!-- style embedded in django template for static file usage -->
	<style type="text/css">		

		/*
		* Media button image
		*/
		
		.image-button-media {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}

		.snaps-button {
			display: inline-block;
			width: 16px;
			height: 17px;
			background-image: url({% static 'CashCity/img/snap_trans.png' %})
		}

		.nav-tabs.nav-tabs-media-modal > li > a > .image-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/image_gray.png' %})
		}
		
		.nav-tabs.nav-tabs-media-modal > li > a > .audio-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			margin-right: 3px;
			background-image: url({% static 'CashCity/img/audio_gray.png' %})
		}
		
		.nav-tabs.nav-tabs-media-modal > li > a > .note-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/note_gray.png' %})
		}

		.nav-tabs.nav-tabs-media-modal > li > a > .interview-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/interview_gray.png' %})
		}
		
		.nav-tabs.nav-tabs-media-modal > li > a > .interview-button {
			display: inline-block;
			width: 22px;
			height: 17px;
			background-image: url({% static 'CashCity/img/interview_gray.png' %})
		}
		
		.mapSnaps-content-container {
			{% if mapSnaps|length <= 3 %}
			height: 130px;
			{% elif mapSnaps|length <= 6 %}
			height: 260px;
			{% elif mapSnaps|length <= 9 %}
			height: 390px;
			{% elif mapSnaps|length <= 12 %}
			height: 520px;
			{% elif mapSnaps|length <= 15 %}
			height: 650px;
			{% elif mapSnaps|length <= 18 %}
			height: 780px;
			{% endif %}
		}
		
		.trash-button {
			cursor: pointer;
			display: inline-block;
			width: 22px;
			height: 17px;
			margin-bottom: 10px;
			background-image: url({% static 'CashCity/img/trash.png' %})
		}
		
		
	</style>

{% endblock %}		


{% block body_block %}
<div  class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 medium-container media-page">
	<div class="row">
		<h3>Add Your Opinion</h3>
		<small><em>Use this form to add your opinion. Make sure to include all the fields below.</em></small>
		<hr />
	</div>
	<div class="row">
		<form role="form" enctype="multipart/form-data" method="post" action="." >{% csrf_token %}
			<div class="form-group">
				<label for="authors">Authors</label>{% if opinionsForm.authors.errors %} <span class="text-danger">{{ opinionsForm.authors.errors|join:", " }}</span>{% endif %}
				{{ opinionsForm.authors|add_class:"form-control" }}
			</div>
			<div class="form-group fileGroup">
				<label for="teamImage">Add A Cover Photo</label>
				{% if opinionsForm.teamImage.errors %} <span class="text-danger">{{ opinionsForm.teamImage.errors|join:", " }}</span>{% endif %}
				<div class="input-group">				
	                <span class="input-group-btn">
						<span class="btn btn-default btn-file">
	                        Add Image {{ opinionsForm.teamImage|attr:"accept:image/*"|attr:"capture:camera" }}
	                    </span>						
	                    <!--<button id="addCoverPhoto" type="button" class="btn btn-default" data-toggle="modal" data-target="#coverphoto">Add Image</button>-->
	                </span>
					{% if opinionsForm.errors %}
	               		<input type="text" id="coverPhotoPlaceholder" class="form-control filename" placeholder='No File Chosen' readonly>
					{% elif opinionsForm.teamImage.value %}
	               		<input type="text" id="coverPhotoPlaceholder" class="form-control filename" placeholder='{{ opinionsForm.teamImage.value }}' readonly>
					{% else %}
	               		<input type="text" id="coverPhotoPlaceholder" class="form-control filename" placeholder='No File Chosen' readonly>
					{% endif %}
					<!-- will hide this form field from view with jQuery -->
					{{ opinionsForm.coverPhoto }}
				</div>
				
			</div>
			<div id="teamImagePreview">
				{% if opinionsForm.teamImage.value %}
					<img src="/media/CashCity/ {{ opinionsForm.teamImage.value }}" class="padding10bottom" width="100%" />
				{% endif %}
			</div>

			<div class="form-group">
				<label for="title">Title</label>{% if opinionsForm.title.errors %} <span class="text-danger">{{ opinionsForm.title.errors|join:", " }}</span>{% endif %}
				{{ opinionsForm.title|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<label for="opinionText">Your Opinion</label>{% if opinionsForm.opinionText.errors %} <span class="text-danger">{{ opinionsForm.opinionText.errors|join:", " }}</span>{% endif %}
				{{ opinionsForm.opinionText|add_class:"form-control" }}
			</div>
			<br />
			<div id='sortable'>
		    {{ opinionSectionsFormset.management_form }}
		    {% for form in opinionSectionsFormset %}
				{{ form.id }}
				<div id="section_{{ forloop.counter0 }}" class='greyBackground'>
					<hr />
					<div class="padding10bottom pull-right">
						<p class="moveSection"><small><em>Click and drag to reorder your opinion.</em></small>  
							<span class="glyphicon glyphicon-move moveSection" aria-hidden="true" title="Move This Section"></span>
							<span id="removeSection_{{ forloop.counter0 }}" class="glyphicon glyphicon-trash mediaSelect" aria-hidden="true" title="Remove This Section"></span>
						</p>
					</div>
					<div class="form-group">
						{% if form.text.errors %} 
						<span class="text-danger">{{ form.sectionTitle.errors|join:", " }}</span>{% endif %}
						{{ form.sectionTitle|add_class:"form-control"|attr:"placeholder:SECTION TITLE" }}
					</div>					
					<p><strong>Media</strong></p>
					<div class="fileGroup">
						<div class="row">
							<div class="col-xs-4" style="padding:0px;">
								<button id="addMedia_{{ forloop.counter }}" type="button" class="btn btn-default opinion-form-button" data-toggle="modal" data-target="#sectionmedia_{{ forloop.counter }}" style="width:100%">
									<div class="image-button-media"></div>
									<br />
									Media
								</button>
							</div>
							<div class="col-xs-4" style="padding:0px;">
								<button id="addMapSnaps_{{ forloop.counter }}" type="button" class="btn btn-default opinion-form-button refreshMap" data-toggle="modal" data-target="#sectionmapsnaps_{{ forloop.counter }}" style="width:100%;">
									<div class="snaps-button"></div>
									<br />
									Map Snaps
								</button>
							</div>
							<div class="col-xs-4" style="padding:0px;">
								<div class="input-group">				
				                <span class="input-group-btn">
				                    <button class="btn btn-default btn-file btn-lg upload-button-rounding">
										<span class="glyphicon glyphicon-upload darkgrey"></span>
										<br />
				                        Upload Image {{ form.uploadImage }}
										</button>
					                </span>
								</div>
							</div>
						</div>
						

						<!-- <div class="btn-group btn-group-lg btn-group-justified">
							<button id="addMedia_{{ forloop.counter }}" type="button" class="btn btn-default opinion-form-button" data-toggle="modal" data-target="#sectionmedia_{{ forloop.counter }}" style="width:33%">
								<div class="image-button-media"></div>
								<br />
								Media
							</button>

							<button id="addMapSnaps_{{ forloop.counter }}" type="button" class="btn btn-default opinion-form-button refreshMap" data-toggle="modal" data-target="#sectionmapsnaps_{{ forloop.counter }}"  style="width:33%">
								<div class="snaps-button"></div>
								<br />
								Map Snaps
							</button>

							<div class="input-group">				
				                <span class="input-group-btn">
				                    <button class="btn btn-default btn-file btn-lg upload-button-rounding">
										<span class="glyphicon glyphicon-upload darkgrey"></span>
										<br />
				                        Upload Image {{ form.uploadImage }}
									</button>
				                </span>
							</div>
						</div> -->
						<div class="clearfix"></div>
						<br />
						<div class="form-group">
							<label for="text">Media Title</label>{% if form.text.errors %} <span class="text-danger">{{ form.text.errors|join:", " }}</span>{% endif %}
							{{ form.mediaTitle|add_class:"form-control"|attr:"placeholder:Media Title" }}
						</div>				
						<div class="clearfix"></div>
						<div id="uploadPreview_{{ forloop.counter }}">
							{% if form.uploadImage.value %}
								<img src="/media/CashCity/ {{ form.uploadImage.value }}" class="padding10bottom" width="100%" />
							{% endif %}
						</div>
						<div id="mapSnapPreview_{{ forloop.counter }}"></div>
						<div id="mediaPreview_{{ forloop.counter }}">
							<div id="mediaImagePreview_{{ forloop.counter }}">
							{% for image in mediaImages %}
								<div class="padding10bottom" id="{{ image.id }}" style="display:none;">
				            		<img src="{% cropped_thumbnail image 'cropped_image_w640_h480' %} " />
				            	</div>
							{% endfor %}
							</div>
							<div id="mediaAudioPreview_{{ forloop.counter }}">
							{% for audio in mediaAudio %}
								<div id="{{ audio.id }}" title="{{ audio.title }}" class="padding10bottom" style="display:none;">
									<p><strong>{{ audio.title }}</strong></p>
									{% if ".amr" in audio.audio.path or ".mov" in audio.audio.path or ".MOV" in audio.audio.path or ".gp3" in audio.audio.path or ".mp4" in audio.audio.path %}
										<audio src="/media/CashCity/{{ audio.audio }}.mp3" preload="auto" controls></audio>
									{% else %}
										<audio src="/media/CashCity/{{ audio.audio }}" preload="auto" controls></audio>
									{% endif %}
									<p>{{ audio.caption }}</p>
								</div>
							{% endfor %}
							</div>
							<div id="mediaNotePreview_{{ forloop.counter }}">
							{% for note in mediaNote %}
								<div id="{{ note.id }}" title="{{ note.title }}" class="padding10bottom" style="display:none;">
									<p><strong>{{ note.title }}</strong></p>
									<p>{{ note.notes }}</p>
								</div>
							{% endfor %}
							</div>
							<div id="mediaInterviewPreview_{{ forloop.counter }}">
							{% for interview in mediaInterview %}
								<div id="{{ interview.id }}" title="{{ interview.title }}" class="padding10bottom" style="display:none;">
									<p><strong>{{ interview.title }}</strong></p>
									<img class="imageSelect" src="{% cropped_thumbnail interview 'cropped_image_w640_h480' %}" />
									<div class="clearfix"></div>
									<br />
									{% if ".amr" in interview.audio.path or ".mov" in interview.audio.path or ".MOV" in interview.audio.path or ".gp3" in interview.audio.path or ".mp4" in interview.audio.path %}
										<audio src="/media/CashCity/{{ interview.audio }}.mp3" preload="auto" controls></audio>
									{% else %}
										<audio src="/media/CashCity/{{ interview.audio }}" preload="auto" controls></audio>
									{% endif %}
									<p>{{ interview.caption }}</p>
								</div>
							{% endfor %}
							</div>
							
						</div>


						{% if form.errors %}
							<input type="text" class="form-control filename" placeholder='No File Chosen' readonly>
						{% elif form.uploadImage.value %}
		               		<input id="readonlyField_{{ forloop.counter }}" type="text" class="form-control filename" placeholder='{{ form.uploadImage.value }}' readonly>
						{% else %}
		               		<input id="readonlyField_{{ forloop.counter }}" type="text" class="form-control filename" placeholder='Nothing Selected' readonly>
						{% endif %}
						<br />
					</div>
					<div class="form-group">
						<label for="text">Say Something About Your Media</label>{% if form.text.errors %} <span class="text-danger">{{ form.text.errors|join:", " }}</span>{% endif %}
						{{ form.text|add_class:"form-control" }}
					</div>
				<hr />
				{% if forloop.last %}
				{% else %}
					<button id="addSection_{{ forloop.counter }}" type="button" class="btn btn-default">Add Section</button>
				{% endif %}
				<br />
				<br />
				<!-- hidden form fields -->
				{{ form.sectionNumber }}
				{{ form.image }}
				{{ form.audio }}
				{{ form.note }}
				{{ form.interview }}
				{{ form.mapSnap }}				
				</div>
				
		    {% endfor %}
			</div>
	
			<button type="submit" class="btn btn-primary" name="publish" value="submit">Publish</button>
			<button type="submit" class="btn btn-default" name="saveDraft" value="saveDraft">Save Draft</button>
			<button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
		</form>
	</div>	
</div>


<!-- Modals! -->
<div class="modal fade" id="coverphoto" tabindex="-1" role="dialog" aria-labelledby="coverphoto" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Choose a Cover Photo</h4>
	    </div>
		<div class="modal-body">
			<div id='coverPhotoGallery'>
				{% for image in mediaImages %}
					<img class="imageSelect coverPhotoSelect" id="{{ image.id }}" title="{{ image.title }}" src="{% cropped_thumbnail image 'cropped_image_w640_h480' scale=0.25 %}" />
				{% endfor %}
			</div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="submit_coverPhoto">Select</button>
        </div>
	 </div>
  </div>
</div>



{% for form in opinionSectionsFormset %}
	<div class="modal fade" id="sectionmedia_{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="sectionmedia_{{ forloop.counter }}" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified nav-tabs-media-modal" role="tablist">
			    <li class="shouldbeActive"><a href="#images_{{ forloop.counter }}" role="tab" data-toggle="tab"><div class="image-button"></div>Image</a></li>
			    <li><a href="#audio_{{ forloop.counter }}" role="tab" data-toggle="tab"><div class="audio-button"></div>Audio</a></li>
			    <li><a href="#notes_{{ forloop.counter }}" role="tab" data-toggle="tab"><div class="note-button"></div>Note</a></li>
			    <li><a href="#interviews_{{ forloop.counter }}" role="tab" data-toggle="tab"><div class="interview-button"></div>Interview</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="images_{{ forloop.counter }}">
				<div id="imageSelect_{{ forloop.counter }}">
					{% for image in mediaImages %}
		            	<img class="imageSelect imageSelect_{{ forloop.parentloop.counter }}" id="{{ image.id }}" title="{{ image.title }}" src="{% cropped_thumbnail image 'cropped_image_w640_h480' scale=0.25 %}" />
					{% endfor %}
				</div>
			  </div>
			  <div class="tab-pane" id="audio_{{ forloop.counter }}">
				<div id="audioSelect_{{ forloop.counter }}">
					{% for audio in mediaAudio %}
						<div id="{{ audio.id }}" title="{{ audio.title }}" class="container-fluid audioSelect_{{ forloop.parentloop.counter }} mediaSelect">
							<div class="row">
								<div class="col-xs-7">
									<p><strong>{{ audio.title }}</strong></p>
									{% if ".amr" in audio.audio.path or ".mov" in audio.audio.path or ".MOV" in audio.audio.path or ".gp3" in audio.audio.path or ".mp4" in audio.audio.path %}
										<audio src="/media/CashCity/{{ audio.audio }}.mp3" preload="auto" controls></audio>
									{% else %}
										<audio src="/media/CashCity/{{ audio.audio }}" preload="auto" controls></audio>
									{% endif %}
								</div>
								<div class="col-xs-5">
									<p>{{ audio.caption }}</p>
								</div>
							</div>
						</div>
						<hr />
					{% endfor %}
				</div>
			  </div>
			  <div class="tab-pane" id="notes_{{ forloop.counter }}">
				<div id="noteSelect_{{ forloop.counter }}">
					{% for note in mediaNote %}
						<div id="{{ note.id }}" title="{{ note.title }}" class="container-fluid noteSelect_{{ forloop.parentloop.counter }} mediaSelect">
							<div class="row">
								<div class="col-xs-6">
									<p><strong>{{ note.title }}</strong></p>
								</div>
								<div class="col-xs-6">
									<p>{{ note.notes }}</p>
								</div>
							</div>
						</div>
						<hr />
					{% endfor %}
				</div>		  	
			  </div>
			  <div class="tab-pane" id="interviews_{{ forloop.counter }}">
				<div id="interviewSelect_{{ forloop.counter }}">
					{% for interview in mediaInterview %}
						<div id="{{ interview.id }}" title="{{ interview.title }}" class="container-fluid interviewSelect_{{ forloop.parentloop.counter }} mediaSelect">
							<div class="row">
								<div class="col-xs-4">
									<img class="imageSelect" src="{% cropped_thumbnail interview 'cropped_image_w640_h480' scale=0.25 %}" />
								</div>
								<div class="col-xs-3">
									<p><strong>{{ interview.title }}</strong></p>
								</div>
								<div class="col-xs-5">
									<p>{{ interview.caption }}</p>
								</div>
							</div>
						</div>
						<hr />
					{% endfor %}
				</div>		  			  	
			  </div>
			</div>		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" id="submit_{{ forloop.counter }}">Select</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="sectionmapsnaps_{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="sectionmapsnaps_{{ forloop.counter }}" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    <div class="modal-header">
	      <div class="snaps-button"></div> <strong>Map Snaps</strong>
	    </div>
	      <div class="modal-body">
			<div class="mapSnaps-content-container">	

			<!-- load thumbnail mini-maps -->
			{% for mapSnap in mapSnaps %}
				<div id="map{{ mapSnap.id }}{{ forloop.parentloop.counter }}" num="{{ mapSnap.id }}" class="map-thumbnail mediaSelect mapSnapSelect_{{ forloop.parentloop.counter }}">
					{% if mapSnap.title %}
						<span class="mapSnapTitle"><p class="mapSnapTitleText">{{ mapSnap.title }}</p></span>
					{% endif %}		
				</div>
			{% endfor %}

				<script type="text/javascript">	
				{% for mapSnap in mapSnaps %}
					var activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }} = null;
				{% endfor %}
				
					function getMapSnaps{{ forloop.counter }}() {
						{% for mapSnap in mapSnaps %}
					    	var map{{ mapSnap.id }}{{ forloop.parentloop.counter }} = new CityDigitsMapThumb({{ mapSnap.id }},{{ forloop.parentloop.counter }},{{ mapSnap.latitude }},{{ mapSnap.longitude }},{{ mapSnap.zoom }});
							activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }} = map{{ mapSnap.id }}{{ forloop.parentloop.counter }};
						
							var MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.MapLayer }}';	
							var LOC1{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.PawnShops }}';
							var LOC2{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.CheckCashing }}';
							var LOC3{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.WireTransfer }}';
							var LOC4{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.Banks }}';
							var LOC5{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.McDonalds }}';
							var LOC6{{ mapSnap.id }}{{ forloop.parentloop.counter }} = '{{ mapSnap.SubwayLines }}';
							var MEDIA{{ mapSnap.id }}{{ forloop.parentloop.counter }}= '{{ mapSnap.MEDIA }}';

							
							// add in layers that were turned on
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendpoverty') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_MAP1_POP_POVERTY(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendmedhhinc') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_MAP2_MED_HH_INCOME(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							}
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendunemploy') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_MAP3_PCT_UNEMPLOYED(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendforeignborn') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_MAP4_PCT_FOREIGN_BORN(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendAFIpersqmi') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP1_AFI_PER_SQMILE(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendbankspersqmi') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP2_BANKS_PER_SQMILE(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendpawnsqmi') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP3_PAWN_SHOPS_PER_SQMILE(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendmcdonaldspersqi') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP4_MCDONALDS_PER_SQMILE(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendhouseholdsperAFI') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP5_HH_PER_AFI(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendhouseholdsperbank') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP6_HH_PER_BANK(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendhouseholdsperMcD') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP7_HH_PER_MCDONALDS(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendhouseholdsperpawn') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP8_HH_PER_PAWN_SHOP(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendAFIsperbank') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP9_AFIS_PER_BANK(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							} 
							if (MapLayer{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'legendbanksperAFIs') {
								map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_CREATEMAP10_BANKS_PER_AFI(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
							}

							function addLocations{{ mapSnap.id }}{{ forloop.parentloop.counter }}() {
								if (LOC1{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC1_PAWN_SHOPS(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});
								}
								// add in layers that were turned on
								if (LOC2{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC2_CHECK_CASHING(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
								}
								// add in layers that were turned on
								if (LOC3{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC3_WIRE_TRANSFER(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
								}
								// add in layers that were turned on
								if (LOC4{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC4_BANKS(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});
								}	
								// add in layers that were turned on
								if (LOC5{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC5_MCDONALDS(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});
								}
								// add in layers that were turned on
								if (LOC6{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.load_LOC6_SUBWAY_LINES(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
								}			

								// add in layers that were turned on
								if (MEDIA{{ mapSnap.id }}{{ forloop.parentloop.counter }} == 'True') {
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.loadMEDIA(activeMap{{ mapSnap.id }}{{ forloop.parentloop.counter }});	
								}
				
							}

							setTimeout ( addLocations{{ mapSnap.id }}{{ forloop.parentloop.counter }}, 3000 );	
				
							{% endfor %}
							
							// ensure thumbnail maps render in modals
							$('#sectionmapsnaps_'+{{ forloop.counter }}).on('shown.bs.modal', function (e) {
								// use invalidate size to make maps show appropriately
								{% for mapSnap in mapSnaps %}
									map{{ mapSnap.id }}{{ forloop.parentloop.counter }}.map.invalidateSize(false);
								{% endfor %}
							});
					
				
						}					
			
						$('#addMapSnaps_'+{{ forloop.counter }}).click(function() {
							getMapSnaps{{ forloop.counter }}();
						});
					</script>


			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" id="submitmap_{{ forloop.counter }}">Select</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}


	
{% endblock %}


{% block js_block %}
	<script type="text/javascript" src="{% static 'CashCity/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/mapbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'CashCity/js/topojson.js' %}"></script>
	<!-- set varible for topojson and csv urls -->
	<script type="text/javascript">
	var neighborhoods = "{% static 'CashCity/topojson/neighborhoods.json' %}";	
	var SubwayLines = "{% static 'CashCity/topojson/mta_subway_only_june2014.geojson' %}";	
	var SubwayStations = "{% static 'CashCity/topojson/subway_stations.geojson' %}";	
	var CheckCashing = "{% static 'CashCity/locationData/CheckCashing.csv' %}";	
	var CommercialBanks = "{% static 'CashCity/locationData/CommercialBanks.csv' %}";	
	var Mcdonalds = "{% static 'CashCity/locationData/Mcdonalds.csv' %}";	
	var MoneyTransferServices = "{% static 'CashCity/locationData/MoneyTransferServices.csv' %}";	
	var PawnShops = "{% static 'CashCity/locationData/PawnShops.csv' %}";
	var closeButtonGray	= "{% static 'CashCity/img/close_gray.png' %}";
	</script>
	<!-- create media geojson -->
	<script type="text/javascript">
		var mediaImageGeojson = {% include 'CashCity/mapFilterMediaImage.html' %};
		var mediaAudioGeojson = {% include 'CashCity/mapFilterMediaAudio.html' %};
		var mediaNoteGeojson = {% include 'CashCity/mapFilterMediaNote.html' %};
		var mediaInterviewGeojson = {% include 'CashCity/mapFilterMediaInterview.html' %};		
	</script>
	<script type="text/javascript" src="{% static 'CashCity/js/CityDigitsMapThumb.js' %}"></script>	
	<!--<script type="text/javascript" src="{% static 'CashCity/js/opinionForm.js' %}"></script>-->
	
	<!-- set up form js -->	
	<script type="text/javascript">

		$(document).ready( function() {
			// set divs to sortable
			$( "#sortable" ).sortable();
			$( "#sortable" ).disableSelection();

			// update section number count when resorted
			$( "#sortable" ).on( "sortstop", function( event, ui ) {
				var sorted = $( "#sortable" ).sortable( "serialize", { key: "section" } );
				sorted = sorted.replace(/FORMS/g, '');
				sorted = sorted.replace(/id/g, '');
				sorted = sorted.replace(/section=/g, '');
				sorted = sorted.replace(/&/g, '');
				sorted = sorted.split('');
				for (var i = sorted.length - 1; i >= 0; i--) {
					$('#id_form-'+sorted[i]+'-sectionNumber').val(i);
				};
			});

			// outside loop js
			// select image tab on page load
			$('.shouldbeActive').addClass('active');

			//cover photo submit button
			var selected_coverPhoto = false;
			$('#submit_coverPhoto').click(function() {
				// alert if nothing selected 
				if (selected_coverPhoto) {
					// close modal
					$('#coverphoto').modal('hide')
				} else {
					// alert
					alert('Nothing has been selected. Please select a cover photo.');
				}
			});

			// highlighting for cover photo
			$(".coverPhotoSelect").click(function() {
				if ($(this).hasClass("active")) {
					$(this).removeClass('active');
					$('#id_coverPhoto').val(null);
					$('#coverPhotoPlaceholder').attr('placeholder', 'Nothing Selected');
					selected_coverPhoto = false;
				} else {			
					// remove all other active classes and set clicked to active
			        $(".coverPhotoSelect").removeClass('active');
					$(this).addClass('active');
					// set other values to null
					$('#id_coverPhoto').val(this.id);
					// set name of selected in the form field
					$('#coverPhotoPlaceholder').attr('placeholder', this.title);
					selected_coverPhoto = true;			
				}
			});

			// set class to active on edit form if cover photo
			if ( $('#id_coverPhoto').val() != '' ) {
				$( "#coverPhotoGallery > #" + $('#id_coverPhoto').val() ).addClass('active');	
				$('#coverPhotoPlaceholder').attr('placeholder', $( "#coverPhotoGallery > #" + $('#id_coverPhoto').val() )[0].title);
			}

			// if teamImage uploaded, show a preview
				$('#id_teamImage').change(function(){
					if (this.files && this.files[0]) {
						// select media preview div and append an IMG tag
						$('#preview_teamImage').remove();
						$('#teamImagePreview').append('<img id="preview_teamImage" width="100%" style="padding-bottom: 10px;" src="#" />');
						$()

			            var reader = new FileReader();
			            
			            reader.onload = function (e) {
			                $('#preview_teamImage').attr('src', e.target.result);
			            }
			            
			            reader.readAsDataURL(this.files[0]);
			        }
			    });

			// loop through sections creating section specific js
			{% for form in opinionSectionsFormset %}			

				{% if forloop.first %}
				{% else %}
					if ( ( $('#id_form-'+{{ forloop.counter0 }}+'-image').val() == '' ) && ( $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() == '' ) && ( $('#id_form-'+{{ forloop.counter0 }}+'-note').val() == '' ) &&  ( $('#id_form-'+{{ forloop.counter0 }}+'-interview').val() == '' ) && ( $('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val() == '' ) && ( $('#readonlyField_'+{{ forloop.counter }}).attr('placeholder') == 'Nothing Selected' )  ){
						$('#section_'+{{ forloop.counter0 }}).hide();		
					}
				{% endif %}

				// hide form fields that django needs for storing opinions
				$('#id_coverPhoto').hide();
				
				$('#id_form-'+{{ forloop.counter0 }}+'-sectionNumber').hide();
				$('#id_form-'+{{ forloop.counter0 }}+'-image').hide();
				$('#id_form-'+{{ forloop.counter0 }}+'-audio').hide();
				$('#id_form-'+{{ forloop.counter0 }}+'-note').hide();
				$('#id_form-'+{{ forloop.counter0 }}+'-interview').hide();
				$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').hide();

				// add section numbers to form field
				$('#id_form-'+{{ forloop.counter0 }}+'-sectionNumber').val({{ forloop.counter }});

				// add sections
				$('#addSection_'+{{ forloop.counter }}).click(function() {
					$('#section_'+{{ forloop.counter }}).show();
					$('#addSection_'+{{ forloop.counter }}).attr("disabled","disabled");
				});	

				// remove sections
				$('#removeSection_'+{{ forloop.counter0 }}).click(function() {
					// set form data to null
					$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-text').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-sectionTitle').val(null);
					$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
					// ensure all media is deselected
			        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
			        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
			        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
			        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
					// ensure map snap is not selected
			        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
					// remove any uploaded images
					resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
					resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );
								
					// reset the name of selected in the form field to "Nothing selected"
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
					$('#id_form-'+{{ forloop.counter0 }}+'-sectionTitle').attr('placeholder', 'SECTION TITLE');
					$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
					// remove anything from the preview area
					$('#uploadPreview_'+{{ forloop.counter }}).html('');
					$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
					$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

					// flag value as not selected
					selected_{{ forloop.counter }} = false;	


					// if any section by section 1, hide the div
					{% if not forloop.first %} 
						$('#section_'+{{ forloop.counter0 }}).hide();
						$('#addSection_'+{{ forloop.counter0 }}).removeAttr("disabled")
					{% endif %}



				});	

				//submit buttons
				var selected_{{ forloop.counter }} = false;
				$('#submit_'+{{ forloop.counter }}).click(function() {
					// alert if nothing selected 
					if (selected_{{ forloop.counter }}) {
						// close modal
						$('#sectionmedia_'+{{ forloop.counter }}).modal('hide')
					} else {
						// alert
						alert('Nothing has been selected. Please select media, map snaps or upload a new image.');
					}
				});

				$('#submitmap_'+{{ forloop.counter }}).click(function() {
					// alert if nothing selected 
					if (selected_{{ forloop.counter }}) {
						// close modal
						$('#sectionmapsnaps_'+{{ forloop.counter }}).modal('hide')
					} else {
						// alert
						alert('Nothing has been selected. Please select media, map snaps or upload a new image.');
					}
				});

				// highlighting 
				$(".imageSelect_"+{{ forloop.counter }}).click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();

						selected_{{ forloop.counter }} = false;
					} else {			
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						$(this).addClass('active');
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(this.id);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);
						// remove any uploaded images
						resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
						resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );			
						// set name of selected in the form field
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', this.title);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(this.title);
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// add image to the preview area
						$('#mediaImagePreview_'+{{ forloop.counter }}+' > #'+this.id).show();

						// flag as selected
						selected_{{ forloop.counter }} = true;			
					}
				});

				$(".audioSelect_"+{{ forloop.counter }}).click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
						$('#id_form-0-audio').val(null);
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();

						selected_{{ forloop.counter }} = false;
					} else {
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						$(this).addClass('active');
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(this.id);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);
						// remove any uploaded images
						resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
						resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );			
						// set name of selected in the form field
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', this.title);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(this.title);
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// add audio to the preview area
						$('#mediaAudioPreview_'+{{ forloop.counter }}+' > #'+this.id).show();

						selected_{{ forloop.counter }} = true;
					}
				});

				$(".noteSelect_"+{{ forloop.counter }}).click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
						$('#id_form-0-note').val(null);
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();

						selected_{{ forloop.counter }} = false;
					} else {
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						$(this).addClass('active');
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(this.id);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);
						// remove any uploaded images
						resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
						resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );			
						// set name of selected in the form field
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', this.title);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(this.title);
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// add audio to the preview area
						$('#mediaNotePreview_'+{{ forloop.counter }}+' > #'+this.id).show();

						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');

						selected_{{ forloop.counter }} = true;
					}
				});
				
				$(".interviewSelect_"+{{ forloop.counter }}).click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
						$('#id_form-0-interview').val(null);
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();

						selected_{{ forloop.counter }} = false;
					} else {			
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						$(this).addClass('active');
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(this.id);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);
						// remove any uploaded images
						resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
						resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );			
						// set name of selected in the form field
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', this.title);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(this.title);
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// add audio to the preview area
						$('#mediaInterviewPreview_'+{{ forloop.counter }}+' > #'+this.id).show();
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');


						selected_{{ forloop.counter }} = true;
					}
				});
				
				$(".mapSnapSelect_"+{{ forloop.counter }}).click(function() {
					if ($(this).hasClass("active")) {
						$(this).removeClass('active');
						$('#id_form-0-mapSnap').val(null);
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', 'Nothing Selected');
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();

						selected_{{ forloop.counter }} = false;
					} else {
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						$(this).addClass('active');
						// get id num
						var id = this.id.replace("map", "");
						id = id.substr(0, 1);
										
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(id);
						// remove any uploaded images
						resetFormElement( $('#id_form-'+{{ forloop.counter0 }}+'-uploadImage') );			
						resetFormElement( $('#readonlyField_'+{{ forloop.counter }}) );			
						// set name of selected in the form field
						$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', "Map: " + $("p", this).text());
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val($("p", this).text());
						// remove anything from the preview area
						$('#uploadPreview_'+{{ forloop.counter }}).html('');
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// add map snap to the preview area
						var mapSnapPreview = $(this).clone().appendTo($('#mapSnapPreview_'+{{ forloop.counter }}));
						mapSnapPreview.removeClass('active map-thumbnail mediaSelect mapSnapSelect_1');
						mapSnapPreview.addClass('opinionPreviewMap');

						selected_{{ forloop.counter }} = true;
					}
				});

				// set class to active on edit form if media or map snap was selected previously
				if ( $('#id_form-'+{{ forloop.counter0 }}+'-image').val() != '' ) {
					$( "#imageSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-image').val() ).addClass('active');	
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', $( "#imageSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-image').val() )[0].title);
					// add image to the preview area
					$('#mediaImagePreview_'+{{ forloop.counter }}+' > #'+$( "#imageSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-image').val() )[0].id).show();
				}

				if ( $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() != '' ) {

					$( "#audioSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() )[0].id

					$( "#audioSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() ).addClass('active');
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', $( "#audioSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() )[0].title);
					// add audio to the preview area
					$('#mediaAudioPreview_'+{{ forloop.counter }}+' > #'+$( "#audioSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-audio').val() )[0].id).show();
				}
				if ( $('#id_form-'+{{ forloop.counter0 }}+'-note').val() != '' ) {
					$( "#noteSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-note').val() ).addClass('active');
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', $( "#noteSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-note').val() )[0].title);
					// add note to the preview area
					$('#mediaNotePreview_'+{{ forloop.counter }}+' > #'+$( "#noteSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-note').val() )[0].id).show();

				}
				if ( $('#id_form-'+{{ forloop.counter0 }}+'-interview').val() != '' ) {
					$( "#interviewSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-interview').val() ).addClass('active');
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', $( "#interviewSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-interview').val() )[0].title);
					// add interview to the preview area
					$('#mediaInterviewPreview_'+{{ forloop.counter }}+' > #'+$( "#interviewSelect_"+{{ forloop.counter }}+" > #" + $('#id_form-'+{{ forloop.counter0 }}+'-interview').val() )[0].id).show();
				}
				if ( $('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val() != '' ) {

					var mapSelector = $( "#map" + $('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val() + {{ forloop.counter }} )['selector'];
					
					$( mapSelector ).addClass('active');
					// get id num
					var id = $( mapSelector )[0].id.replace("map", "");
					id = id.substr(0, 1);
					
					$('#readonlyField_'+{{ forloop.counter }}).attr('placeholder', "Map: " + $( mapSelector + " > span > p").text());


					// add map snap to the preview area
					function addMapToPreview() {
						// add map snap to the preview area
						var mapSnapPreview = $( mapSelector ).clone().appendTo($('#mapSnapPreview_'+{{ forloop.counter }}));
						mapSnapPreview.removeClass('active map-thumbnail mediaSelect mapSnapSelect_1');
						mapSnapPreview.addClass('opinionPreviewMap');
					}
					// TODO: map snap preview when editing forms not working.
					//setTimeout ( addMapToPreview, 3000 );


				}

				//if upload button clicked, populate with image
				$('#id_form-'+{{ forloop.counter0 }}+'-uploadImage').change(function(){
					if (this.files && this.files[0]) {
						// remove any previews
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mediaTitle').attr('placeholder', 'Media Title');
						// hide preview
						$('#mediaPreview_'+{{ forloop.counter }}+' > div > div').hide();
						$('#mapSnapPreview_'+{{ forloop.counter }}).html('');

						// select media preview div and append an IMG tag
						$('#preview_'+{{ forloop.counter }}).remove();
						$('#uploadPreview_'+{{ forloop.counter }}).append('<img id="preview_'+{{ forloop.counter }}+'" width="100%" style="padding-bottom: 10px;" src="#" />');
						$()

			            var reader = new FileReader();
			            
			            reader.onload = function (e) {
			                $('#preview_'+{{ forloop.counter }}).attr('src', e.target.result);
			            }
			            
			            reader.readAsDataURL(this.files[0]);
			        }
			    });


			{% endfor %}


			// set up but-file type listener on fileselect
		    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {       
		        var input = $(this).parents('.fileGroup').find('.filename'),
		            log = numFiles > 1 ? numFiles + ' files selected' : label;        
		        if( input.length ) {
		            input.val(log);
		        } else {
		            if( log ) alert(log);
		        }
		        {% for form in opinionSectionsFormset %}

					// deselect all other areas
					if (this.id == 'id_form-'+{{ forloop.counter0 }}+'-uploadImage') {
						// remove all other active classes and set clicked to active
				        $(".imageSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".audioSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".noteSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".interviewSelect_"+{{ forloop.counter }}).removeClass('active');
				        $(".mapSnapSelect_"+{{ forloop.counter }}).removeClass('active');
						// set other values to null
						$('#id_form-'+{{ forloop.counter0 }}+'-image').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-audio').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-note').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-interview').val(null);
						$('#id_form-'+{{ forloop.counter0 }}+'-mapSnap').val(null);			
					}       
		        {% endfor %}

		    });

			// when file select buttons are clicked add in the file name
			$(document).on('change', '.btn-file :file', function() {
				var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
				input.trigger('fileselect', [numFiles, label]);
			});


		});

		// for clearing upload input elements	
		function resetFormElement(e) {
		    e.wrap('<form>').closest('form').get(0).reset();
		    e.unwrap();	
		}


	</script>


{% endblock %}
